<div class="modal fade bd-example-modal-lg pdfModal" id=<%= "editModal-#{study_pdf.id}" %> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit PDF</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -25px;"/>
      </div>
      <div class="modal-body">

        <%= form_with(url: admin_study_pdf_path(study_pdf), method: :patch, multipart: true) do %>

          <div class="custom-file form-group" style="margin-bottom: 10px;">
            <label> * PDF type: </label> &nbsp;&nbsp;
            <% StudyPdf.pdf_types.each do |key, val| %>
              <label class="radio-inline">
                <input name="pdf_type" type="radio" value='<%= val %>' <%= study_pdf.pdf_type == key ? ' checked' : '' %>>
                <%= key %>
              </label>
            <% end %>
          </div>

          <div class="form-group">
            <input type="text" value="<%= study_pdf.name %>" class="form-control" name="exam_name" id="examName" placeholder="Enter pdf Name" required>
          </div>

          <div class="custom-file form-group" style="margin-bottom: 10px;">
            <input type="file" id="customFileQ" name="question_paper" accept="application/pdf">
            <label class="custom-file-label" for="customFileQ"> <%= study_pdf.question_paper.url %> </label>
          </div>

          <div class="custom-file form-group" style="margin-bottom: 10px;">
            <input type="file" value="<%= study_pdf.solution_paper.url %>" id="customFileS" name="solution_paper" accept="application/pdf">
            <label class="custom-file-label" for="customFileS"><%= study_pdf.solution_paper.url %></label>
          </div>
          <% selected_batch_ids = study_pdf.batches.ids %>
          <div class="form-group">
            <% Batch.all.each do |batch| %>
              <label class="checkbox-inline">
                <input name="batches[]" type="checkbox" value='<%= batch.id %>' <%= selected_batch_ids.include?(batch.id) ? ' checked' : '' %>>
                <%= batch.name %>
              </label>
            <% end %>
          </div>

          <button type="submit" id="submit-study-pdf" class="btn btn-primary pull-right">Submit</button>
        <% end %>
        <hr>
      </div>
    </div>
  </div>
</div>