<div class="row" style="margin-left: -25px">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="col-md-2">
          <h5 class="pt-3">PDFs</h5>
        </div>
        <div class="offset-md-8 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-2 text-right">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add New PDF
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <% if @study_pdfs.present? %>
            <table class="table card-table table-striped tabler-hover table-vcenter text-nowrap">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Pdf Name</th>
                  <th>Desc.</th>
                  <th>Batch(s)</th>
                  <th>Q's Paper</th>
                  <th>A's Paper</th>
                  <th>Type</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @study_pdfs.each do |study_pdf| %>
                  <tr>
                    <td><%= study_pdf.id %></td>
                    <td><%= study_pdf.name %></td>
                    <td><%= study_pdf.description %></td>
                    <td><%= study_pdf.batches.pluck(:name).join(', ') %></td>
                    <td><%= link_to 'link', study_pdf.question_paper&.url, target: "_blank" %></td>
                    <td><%= link_to 'link', study_pdf.solution_paper&.url, target: "_blank" %></td>
                    <td><%= study_pdf.pdf_type %></td>
                    <td>
                      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target=<%="#editModal-#{study_pdf.id}"%>>
                        Edit
                      </button>
                      <%= link_to 'Del', admin_study_pdf_path(study_pdf), method: :delete, class: "btn btn-danger btn-sm" %>
                    </td>
                  </tr>
                  <%= render partial: 'edit_pdf_modal', locals: {study_pdf: study_pdf} %>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <div class="alert alert-info">No PDF's were found.</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg pdfModal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new PDF</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -25px;"/>
      </div>
      <div class="modal-body">

        <%= form_with(url: admin_study_pdfs_path, method: "post", multipart: true) do %>

          <div class="custom-file form-group" style="margin-bottom: 10px;">
            <label> * PDF type: </label> &nbsp;&nbsp;
            <% StudyPdf.pdf_types.each do |key, val| %>
              <label class="radio-inline"><input name="pdf_type" type="radio" value=<%= val %>><%= key %></label>
            <% end %>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" name="exam_name" id="examName" placeholder="Enter pdf Name" required>
          </div>

          <div class="custom-file form-group" style="margin-bottom: 10px;">
            <input type="file" id="customFileQ" name="question_paper" accept="application/pdf">
            <label class="custom-file-label" for="customFileQ">Choose Question Paper PDF</label>
          </div>

          <div class="custom-file form-group" style="margin-bottom: 10px;">
            <input type="file" id="customFileS" name="solution_paper" accept="application/pdf">
            <label class="custom-file-label" for="customFileS">Choose Solution Paper PDF</label>
          </div>

          <div class="form-group">
            <% Batch.all.each do |batch| %>
              <label class="checkbox-inline"><input name="batches[]" type="checkbox" value=<%= batch.id %>><%= batch.name %></label>
            <% end %>
          </div>

          <button type="submit" id="submit-study-pdf" class="btn btn-primary pull-right">Submit</button>
        <% end %>
        <hr>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
      $('input[type="file"]').change(function(e){
          var fileName = e.target.files[0].name;
          var label = e.target.parentElement.lastElementChild;
          label.innerText = fileName;
      });

      $('#submit-study-pdf').click(function(e){
        $('.pdfModal').modal('hide');
        location.reload()
      });

  });
</script>