
<div class="tabbable-panel">
  <div class="tabbable-line">
    <ul class="nav nav-tabs ">
      <% @tabs.each_with_index do |tab, index| %>
        <li class="<%= index == 0 ? 'active' : '' %>">
          <a href=<%="##{tab}"%> data-toggle="tab">
            <%= tab.humanize %>
          </a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content">

      <% @tabs.each_with_index do |tab, index| %>
        <div class="<%=index == 0 ? 'tab-pane active' : 'tab-pane' %>" id="<%= tab %>">
          <%= render tab %>
        </div>
      <% end %>

    </div>
  </div>
</div>
