
<table class="table table-bordered">
  <tbody>
    <tr>
      <td><strong>Student name:</strong></td>
      <td><%= student.name %></td>
      <td><strong>Roll Number:</strong></td>
      <td><%= student.roll_number %></td>
    </tr>
    <tr>
      <td><strong>Parent Contact:</strong></td>
      <td><%= student.parent_contact %></td>
      <td><strong>Batches:</strong></td>
      <% if student.omr_batches.count == 1 %>
        <td><%= student.omr_batches.first.name %> </td>
      <% else %>
        <td>
          <ul>
            <% student.omr_batches.each do |batch| %>
              <li><%= batch.name %></li>
            <% end %>
          </ul>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>