<table class="table table-bordered">
  <tbody>
    <tr>
      <td rowspan="2" style="text-align: center; vertical-align: middle;">
        <%= image_tag 'student_new.png', alt: 'New Student', height: '150' %>
      </td>
      <td>
        <strong>Roll Number</strong><br>
        <%= student.roll_number %>
      </td>
      <td>
        <strong>Student name</strong><br>
        <%= student.name %>
      </td>
      <td>
        <strong>Batches</strong><br>
        <ul>
          <% student.omr_batches.each do |batch| %>
            <li style="margin-left: -21px"><%= batch.name %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Parent Contact</strong></br>
        <%= student.parent_contact %>
      </td>
      <td>
        <strong>Stream</strong><br>
        NEET 2025
      </td>
      <td>
        <strong>Academic Center</strong><br>
        Latur
      </td>
    </tr>
  </tbody>
</table>

<style>
  strong {
    color: #274696;
  }
</style>