<table class="table table-bordered black-border" style="margin-top: 20px; margin-bottom: 10px;">
  <tbody>
    <tr style="vertical-align: middle;">
      <td rowspan="2" style="text-align: center;">
        <%= image_tag(@online_student&.photo? ? @online_student.photo.url(:profile) : 'student_new.png', alt: 'Student Photo', height: '150') %>
      </td>
      <td>
        <strong>Roll Number</strong><br>
        <span style="font-size: 20px; font-weight: bold;">
          <%= student.roll_number %>
        </span>
      </td>
      <td>
        <strong>Student name</strong><br>
        <span style="font-size: 20px; font-weight: bold;">
          <%= student.name %>
        </span>
      </td>
      <td>
        <strong>Batches</strong><br>
        <ul>
          <% student.omr_batches.each do |batch| %>
            <li style="margin-left: -21px; font-size: 20px; font-weight: bold;"><%= batch.name %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr style="vertical-align: middle;">
      <td>
        <strong>Parent Contact</strong><br>
        <span style="font-size: 20px; font-weight: bold;">
          <%= student.parent_contact %>
        </span>
      </td>
      <td>
        <strong>Stream</strong><br>
        <span style="font-size: 20px; font-weight: bold;">
          <%= @subjects.join(",").include?('Math') ? 'JEE 2025' : 'NEET 2025' %>
        </span>
      </td>
      <td>
        <strong>Academic Center</strong><br>
        <span style="font-size: 20px; font-weight: bold;">
          Latur
        </span>
      </td>
    </tr>
  </tbody>
</table>

<style>
  .black-border {
    border: 1px solid black !important;
  }

  .black-border td {
    border: 1px solid black !important;
  }
  strong {
    color: #274696;
  }
  @media print {
    strong {
      color: #274696 !important;
    }
  }
</style>