<div style="border: 1px solid black; background-color: #F0F0F0; margin-bottom: 10px; margin-top: 10px">
  <div class="print-background" style="padding: 4px;">
    <h5 class="white-color" style="text-align: center; font-size: 22px">RCC Smart AI Summary</h5>
  </div>
  <table class="table table-bordered black-border">
    <thead style="padding: 10px">
      <tr>
        <th></th>
        <% if @student_summary_per_subject['Phy'].present? %>
          <th style="color: black">Phy</th>
        <% end %>
        <% if @student_summary_per_subject['Chem'].present? %>
          <th style="color: black">Chem</th>
        <% end %>
        <% if @student_summary_per_subject['Bot'].present? %>
          <th style="color: black">Bot</th>
        <% end %>
        <% if @student_summary_per_subject['Zoo'].present? %>
          <th style="color: black">Zoo</th>
        <% end %>
        <% if @student_summary_per_subject['Bio'].present? %>
          <th style="color: black">Bio</th>
        <% end %>
        <% if @student_summary_per_subject['Math'].present? %>
          <th style="color: black">Math</th>
        <% end %>
        <th style="color: black">Total</th>
        <th style="color: black">Rank</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Average Score</td>
        <% if @student_summary_per_subject['Phy'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Phy'][:avg_score].round %>
            <span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Chem'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Chem'][:avg_score].round %>
            </span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Bot'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Bot'][:avg_score].round %>
            </span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Zoo'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Zoo'][:avg_score].round %>
            <span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Bio'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
            <% if @student_summary_per_subject['Bot'].present? && @student_summary_per_subject['Zoo'].present? %>
              <%= (@student_summary_per_subject['Bot'][:avg_score] + @student_summary_per_subject['Zoo'][:avg_score]).round %>
            <% else %>
              <%= @student_summary_per_subject['Bio'][:avg_score].round %>
            <% end %>
            <span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Math'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Math'][:avg_score].round %>
            <span>
          </td>
        <% end %>
        <td>
          <span style="font-size: 17px; font-weight: bold;">
            <%= (@graph_data[:average]/100.0 * 720).round(2) %> (<%=(@graph_data[:average])%> %)
          </span>
        </td>
        <td>
          <span style="font-size: 17px; font-weight: bold;">
            <%= @student.omr_student_tests.pluck(:rank).count == 0 ? '-' : @student.omr_student_tests.pluck(:rank).sum / @student.omr_student_tests.pluck(:rank).count %>
        </td>
      </tr>
      <tr>
        <td>Avg. Accuracy</td>
        <% if @student_summary_per_subject['Phy'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Phy'][:avg_accuracy].round(2)%>%
            <span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Chem'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Chem'][:avg_accuracy].round(2)%>%
            <span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Math'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Math'][:avg_accuracy].round(2)%>%
            <span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Bot'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Bot'][:avg_accuracy].round(2)%>%
            <span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Zoo'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Zoo'][:avg_accuracy].round(2)%>%
            <span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Bio'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <% if @student_summary_per_subject['Bot'].present? && @student_summary_per_subject['Zoo'].present? %>
                <%= ((@student_summary_per_subject['Bot'][:avg_accuracy] +  @student_summary_per_subject['Zoo'][:avg_accuracy])/2.0).round(2)%>%
              <% else %>
                <%= @student_summary_per_subject['Bio'][:avg_accuracy].round(2)%>%
              <% end %>
            <span>
          </td>
        <% end %>
        <td>
          <span style="font-size: 17px; font-weight: bold;">
            <%= @student_summary_per_subject[:accuracy].round(2)%>%
          <span>
        </td>
        <td>-</td>
      </tr>
      <tr>
        <td>Avg. Wrong Per test </td>
        <% if @student_summary_per_subject['Phy'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Phy'][:avg_wrong].round(2)%>
            <span>
          </td>

        <% end %>
        <% if @student_summary_per_subject['Chem'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Chem'][:avg_wrong].round(2)%>
            <span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Math'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Math'][:avg_wrong].round(2)%>
            <span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Bot'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Bot'][:avg_wrong].round(2)%>
            <span>
          </td>

        <% end %>
        <% if @student_summary_per_subject['Zoo'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Zoo'][:avg_wrong].round(2)%>
            <span>
          </td>

        <% end %>
        <% if @student_summary_per_subject['Bio'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <% if @student_summary_per_subject['Bot'].present? && @student_summary_per_subject['Zoo'].present? %>
                <%= (@student_summary_per_subject['Bot'][:avg_wrong] + @student_summary_per_subject['Zoo'][:avg_wrong]).round(2) %>
              <% else %>
                <%= @student_summary_per_subject['Bio'][:avg_wrong].round(2) %>
              <% end %>
            <span>
          </td>

        <% end %>
        <td>
          <span style="font-size: 17px; font-weight: bold;">
            <%= @student_summary_per_subject[:wrong].round(2)%>
          <span>
        </td>

        <td>-</td>
      </tr>
      <tr>
        <td>Avg. Skip Per test </td>
        <% if @student_summary_per_subject['Phy'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Phy'][:avg_skip].round(2)%>
            <span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Chem'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Chem'][:avg_skip].round(2)%>
            <span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Math'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Math'][:avg_skip].round(2) %>
            <span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Bot'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Bot'][:avg_skip].round(2)%>
            <span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Zoo'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <%= @student_summary_per_subject['Zoo'][:avg_skip].round(2)%>
            <span>
          </td>
        <% end %>
        <% if @student_summary_per_subject['Bio'].present? %>
          <td>
            <span style="font-size: 17px; font-weight: bold;">
              <% if @student_summary_per_subject['Bot'].present? && @student_summary_per_subject['Zoo'].present? %>
                <%= (@student_summary_per_subject['Bot'][:avg_skip] + @student_summary_per_subject['Zoo'][:avg_skip]).round(2)%>
              <% else %>
                <%= @student_summary_per_subject['Bio'][:avg_skip].round(2) %>
              <% end %>
            <span>
          </td>
        <% end %>
        <td>
          <span style="font-size: 17px; font-weight: bold;">
            <%= @student_summary_per_subject[:skip].round(2)%>
          <span>
        </td>
        <td>-</td>
      </tr>

      <tr>
        <td colspan="2"> Attendance Summary:  <%= (@present_count * 100 / @all_tests.count.to_f).round(2) %> %</td>
        <td colspan="3"> <%= "Present: #{@present_count} / Total: #{@all_tests.count}" %></td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  .white-color {
    color: white;
  }

  .compact-table td {
    border: 1px solid gray !important;
    padding: 0px;
  }

  .black-border th {
    border: 1px solid black !important;
  }

  .print-background {
    background-color: #274696 !important;
  }

  @media print {
    .print-background {
      background-color: #274696 !important;
      -webkit-print-color-adjust: exact; /* For WebKit browsers */
      color-adjust: exact; /* For other browsers */
    }
    .white-color {
      color: white !important;
    }
  }
</style>