<table class="table table-bordered">
  <thead>
    <tr>
      <th>Sr.no.</th>
      <th>Exam name</th>
      <th>Date</th>
      <th>Marks</th>
      <th>P</th>
      <th>C</th>
      <th>B</th>
      <th>M</th>
      <th>Rank</th>
    </tr>
  </thead>
  <tbody>
    <tbody>
      <% @all_tests.each_with_index do |test, index| %>
        <% test_id = test[:id] %>
        <% student_marks = @attempted_tests[test_id] %>
        <tr>
          <td><%= "Test-#{test_id}" %></td>
          <td><%= test[:name] %></td>
          <td><%= test[:date] %></td>
          <td><%= student_marks.present? ? "#{student_marks.score}/#{test[:total_marks]}" : "-" %></td>
          <td><%= rand(100) %></td>
          <td><%= rand(100) %></td>
          <td><%= rand(100) %></td>
          <td><%= rand(100) %></td>
          <td><%= rand(1..10) %></td>
        </tr>
      <% end %>
    </tbody>
  </tbody>
</table>

<style>
  th {
    color: black !important;
  }
</style>
