<% headers_subjects = [] %>
<table class="table table-bordered black-border">
  <div style="text-align: right">
    <p>Note: Acc: Accuracy, A: Attempted, C: Correct, W: Wrong, S: Skip, <%= image_tag 'winner.png', alt: 'Winner', width: 16 %> Topper 30</p>
  </div>
  <thead>
    <div class="bg-detailed-header" style="padding: 4px 0px 2px 0px">
      <h5 class="white-color" style="text-align: center; font-size: 20px">DETAILED REPORT</h5>
    </div>
    <tr>
      <th class="black">Exam name</th>
      <th class="black">Date/Mode</th>
      <th class="black">Marks</th>
      <% if @subjects.include?("Phy") %>
        <% headers_subjects << "Phy" %>
        <th class="black">Phy</th>
      <% end %>
      <% if @subjects.include?("Chem") %>
        <% headers_subjects << "Chem" %>
        <th class="black">Chem</th>
      <% end %>
      <% if @subjects.include?("Bot") %>
        <% headers_subjects << "Bot" %>
        <th class="black">Bot</th>
      <% end %>
      <% if @subjects.include?("Zoo") %>
        <% headers_subjects << "Zoo" %>
        <th class="black">Zoo</th>
      <% end %>
      <% if @subjects.include?("Bio") || @subjects.include?("Bot") %>
        <% headers_subjects << "Bio" %>
        <th class="black">Bio</th>
      <% end %>
      <% if @subjects.include?("Math") %>
        <% headers_subjects << "Math" %>
        <th class="black">Math</th>
      <% end %>
      <th class="black">%tage</th>
      <th class="black">%tile</th>
      <th class="black">Rank</th>
    </tr>
  </thead>
  <tbody>
    <tbody>
      <% @all_tests.each_with_index do |test, index| %>
        <% test_id = test[:id] %>
        <% student_marks = @attempted_tests[test_id] %>
        <% if student_marks.present? %>
          <% if @subject_scores_per_test[test_id]['Bio'].present? %>
            <% bio = @subject_scores_per_test[test_id]['Bio']['score'] %>
            <% bio_A = @subject_scores_per_test[test_id]['Bio']['A'] %>
            <% bio_C = @subject_scores_per_test[test_id]['Bio']['C'] %>
            <% bio_W = @subject_scores_per_test[test_id]['Bio']['W'] %>
            <% bio_S = @subject_scores_per_test[test_id]['Bio']['S'] %>
          <% elsif @subject_scores_per_test[test_id]['Bot'].present? %>
            <% bio = @subject_scores_per_test[test_id]['Bot']['score'] + @subject_scores_per_test[test_id]['Zoo']['score'] %>
            <% bio_A = @subject_scores_per_test[test_id]['Bot']['A'] + @subject_scores_per_test[test_id]['Zoo']['A'] %>
            <% bio_C = @subject_scores_per_test[test_id]['Bot']['C'] + @subject_scores_per_test[test_id]['Zoo']['C'] %>
            <% bio_W = @subject_scores_per_test[test_id]['Bot']['W'] + @subject_scores_per_test[test_id]['Zoo']['W'] %>
            <% bio_S = @subject_scores_per_test[test_id]['Bot']['S'] + @subject_scores_per_test[test_id]['Zoo']['S'] %>
          <% end %>
        <% end %>
        <tr style="<%= 'background-color: #FFCCCC;' if student_marks.blank? %>">
          <td>
            <div style="position: relative">
              <p style="font-size: 16px; color: black; width: 240px; word-wrap: break-word;">
                <%= "#{test[:sr_number]}. #{test[:name]}" %>
              </p>
              <p style="font-size: 14px color: black"><%= test[:desc] %></p>
              <% if @subject_scores_per_test[test_id].present? && @subject_scores_per_test[test_id]['rank'] <= 30 %>
                <%= image_tag 'winner.png', alt: 'Winner', class: 'winner-icon' %>
              <% end %>
            </div>
          </td>
          <td>
            <span style="font-size: 16px;"><%= test[:date] %><span>
            <p style="font-size: 14px">OFFLINE</p>
          </td>
          <% if student_marks.blank? %>
            <%headers_subjects.each do |subject| %>
              <td>-</td>
            <% end %>
            <td>-</td><td>-</td><td>-</td>
            <td>AB</td>
          <% else %>
            <td class="text-center">
              <span style="font-size: 17px; font-weight: bold;">
                <%= "#{student_marks.score}/#{test[:total_marks]}" %>
              <span>
              <table class="compact-table">
                  <tr>
                    <td>Acc: <%= @subject_scores_per_test[test_id]['accuracy']%>%</td>
                  </tr>
                </table>
            </td>
            <td class="text-center">
              <% if @subject_scores_per_test[test_id]['Phy'].present? %>
                <span style="font-size: 17px; font-weight: bold;"><%= @subject_scores_per_test[test_id]['Phy']['score']%></span>
                <table class="compact-table">
                  <tr>
                    <td>A:<%= @subject_scores_per_test[test_id]['Phy']['A'] %>,<span >C:<%= @subject_scores_per_test[test_id]['Phy']['C'] %><span></td>
                  </tr>
                  <tr>
                    <td>W:<%= @subject_scores_per_test[test_id]['Phy']['W'] %>,<span >S:<%= @subject_scores_per_test[test_id]['Phy']['S'] %><span></td>
                  </tr>
                </table>
              <% else %>
              <span>-</span>
              <% end %>
            </td>
            <td class="text-center">
              <% if @subject_scores_per_test[test_id]['Chem'].present? %>
                <span style="font-size: 17px; font-weight: bold;"><%= @subject_scores_per_test[test_id]['Chem']['score']%></span>
                <table class="compact-table">
                  <tr>
                    <td>A:<%= @subject_scores_per_test[test_id]['Chem']['A'] %>,<span >C:<%= @subject_scores_per_test[test_id]['Chem']['C'] %><span></td>
                  </tr>
                  <tr>
                    <td>W:<%= @subject_scores_per_test[test_id]['Chem']['W'] %>,<span >S:<%= @subject_scores_per_test[test_id]['Chem']['S'] %><span></td>
                  </tr>
                </table>
              <% else %>
                <span>-</span>
              <% end %>
            </td>
            <% if @subjects.include?("Bot") %>
              <td class="text-center">
                <% if @subject_scores_per_test[test_id]['Bot'].present?%>
                  <span style="font-size: 17px; font-weight: bold;"><%= @subject_scores_per_test[test_id]['Bot']['score']%></span>
                  <table class="compact-table">
                    <tr>
                      <td>A:<%= @subject_scores_per_test[test_id]['Bot']['A'] %>,<span >C:<%= @subject_scores_per_test[test_id]['Bot']['C'] %><span></td>
                    </tr>
                    <tr>
                      <td>W:<%= @subject_scores_per_test[test_id]['Bot']['W'] %>,<span >S:<%= @subject_scores_per_test[test_id]['Bot']['S'] %><span></td>
                    </tr>
                  </table>
                <% else %>
                  -
                <% end %>
              </td>
            <% end %>
            <% if @subjects.include?("Zoo") %>
              <td class="text-center">
                <% if @subject_scores_per_test[test_id]['Zoo'].present? %>
                  <span style="font-size: 17px; font-weight: bold;"><%= @subject_scores_per_test[test_id]['Zoo']['score']%></span>
                  <table class="compact-table">
                    <tr>
                      <td>A:<%= @subject_scores_per_test[test_id]['Zoo']['A'] %>,<span >C:<%= @subject_scores_per_test[test_id]['Zoo']['C'] %><span></td>
                    </tr>
                    <tr>
                      <td>W:<%= @subject_scores_per_test[test_id]['Zoo']['W'] %>,<span >S:<%= @subject_scores_per_test[test_id]['Zoo']['S'] %><span></td>
                    </tr>
                  </table>
                <% else %>
                  -
                <% end %>
              </td>
            <% end %>
            <% if @subjects.include?("Bio") || @subjects.include?("Bot")%>
              <td class="text-center">
                <% if @subject_scores_per_test[test_id]['Bot'].present? ||  @subject_scores_per_test[test_id]['Bio'].present? %>
                  <span style="font-size: 17px; font-weight: bold;"><%= bio %></span>
                  <table class="compact-table">
                    <tr>
                      <td>A:<%= bio_A %>,<span >C:<%= bio_C %><span></td>
                    </tr>
                    <tr>
                      <td>W:<%= bio_W %>, <span >S:<%= bio_S %><span></td>
                    </tr>
                  </table>
                <% else %>
                  -
                <% end %>
              </td>
            <% end %>

            <% if @subjects.include?("Math") %>
              <td class="text-center">
                <% if @subject_scores_per_test[test_id]['Math'].present? %>
                  <span style="font-size: 17px; font-weight: bold;"><%= @subject_scores_per_test[test_id]['Math']['score']%></span>
                  <table class="compact-table">
                    <tr>
                      <td>A:<%= @subject_scores_per_test[test_id]['Math']['A'] %>,<span >C:<%= @subject_scores_per_test[test_id]['Math']['C'] %><span></td>
                    </tr>
                    <tr>
                      <td>W:<%= @subject_scores_per_test[test_id]['Math']['W'] %>,<span >S:<%= @subject_scores_per_test[test_id]['Math']['S'] %><span></td>
                    </tr>
                  </table>
                <% else %>
                <span>-</span>
                <% end %>
              </td>
            <% end %>
            <td class="text-center">
              <span style="font-size: 17px; font-weight: bold;"><%= @subject_scores_per_test[test_id]['percentage']%><span>
            </td>
            <td class="text-center">
              <span style="font-size: 17px; font-weight: bold;"><%= @subject_scores_per_test[test_id]['percentile']%><span>
            </td>
            <td class="text-center">
              <span style="font-size: 17px; font-weight: bold;"><%= @subject_scores_per_test[test_id]['rank']%><span>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </tbody>
</table>


<style>
  .black-border {
    border: 1px solid black !important;
  }

  .winner-icon {
    width: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .black-border td {
    border: 1px solid black !important;
  }

  .compact-table td {
    border: 1px solid gray !important;
    padding: 0px;
  }

  .black-border th {
    border: 1px solid black !important;
  }

  .white-color {
    color: white;
    padding-top: 8px;
  }

  p {
    margin: 0;
  }

  .table-cell {
    padding: 0;
    margin: 0;
  }

  .text-center {
    text-align: center;
  }

  .bg-detailed-header {
    background-color: #45aaf2 !important;
  }

  .compact-table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .compact-table td {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }

  .black {
    color: black !important;
    background-color: #79c3f79c;
    font-weight: bold;
  }

  @media print {
    .bg-detailed-header {
      background-color: #45aaf2 !important;
      -webkit-print-color-adjust: exact; /* For WebKit browsers */
      color-adjust: exact; /* For other browsers */
    }
    .white-color {
      color: white !important;
      padding-top: 8px;
    }
    .text-center {
      text-align: center;
    }
    .compact-table {
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .black {
      color: black !important;
      font-weight: bold;
    }
  }
</style>
