<div style="text-align: right;" class="print-link">
  <%= link_to '<i class="fa fa-print"></i> Print Report'.html_safe, '#', onclick: 'window.print();return false;', class: 'btn btn-primary' %>
</div>
<%= render partial: 'class_header', locals: { org: @student.org } %>
<%= render partial: 'student', locals: { student: @student } %>
<div style="text-align: right;">
    <svg height="15" width="15">
      <circle cx="7.5" cy="7.5" r="5" stroke="red" stroke-width="2" fill="none" />
    </svg>
    Toppers
    <svg height="10" width="20">
      <line x1="0" y1="5" x2="20" y2="5" style="stroke:blue;stroke-width:2" />
    </svg>
    Your Avg Score
</div>
<%= render partial: 'graph', locals: { student: @student } %>
<%= render partial: 'summary', locals: { student: @student } %>
<%= render partial: 'table', locals: { student: @student } %>
<%= render partial: 'footer', locals: { student: @student } %>

<style>
  @media print {
    .print-link {
      display: none;
    }
    body {
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
    }
    .print-background {
      background-color: #274696 !important;
      color: white !important;
    }
  }
</style>