<div style="text-align: right;" class="print-link">
  <%= link_to '<i class="fa fa-print"></i> Print Report'.html_safe, '#', onclick: 'window.print();return false;', class: 'btn btn-primary' %>
</div>
<%= render partial: 'class_header', locals: { org: @test.org } %>

<table class="table table-bordered">
  <tr>
    <th>Exam Name</th>
    <th colspan="3"><%= @test.test_name%></th>
  </tr>
  <tr>
    <th>Exam Date</th>
    <th><%= @test.test_date.strftime("%d-%b-%Y")%></th>
  </tr>
</table>
<h5 style="text-align: center;">Student Report by Rank</h5>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Sr.no.</th>
      <th>Exam name</th>
      <th>Date</th>
      <th>Marks</th>
      <th>Rank</th>
    </tr>
  </thead>
  <tbody>
    <tbody>
      <% @test.omr_student_tests do |test, index| %>
        <tr>
        </tr>
      <% end %>
    </tbody>
  </tbody>
</table>

<style>
  th {
    color: black !important;
  }
</style>


<%= render partial: 'footer', locals: { student: nil } %>

<style>
  @media print {
    .print-link {
      display: none;
    }
  }
</style>