<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="col-lg-6 p-3">
          <h5> Available Exams </h5>
        </div>
        <div class="col-lg-6 text-right p-3">
          <a href="<%= new_admin_exam_path %>">
            <button type="button" class="btn-add-exam btn btn-primary pull-right" >Add Exam</button>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <% if @exams.present? %>
            <%= form_for :exam, url: admin_exams_path, method: :get, id: 'exam_form' do |form| %>
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Added / Exam Q</th>
                    <th>Time</th>
                    <th>Added on</th>
                    <th>Publish on</th>
                    <th>Publish Result</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% @exams.each do |exam| %>
                    <tr>
                      <td>
                        <%= link_to "#{exam.name}", admin_exam_path(exam.id) %>
                        <%= "(NEET new Pattern)" if exam.neet? %>
                        <br />
                        <span style="font-size: 10px; color: darkgreen">
                          <ul>
                            <% exam.batches.order(:id).pluck(:name).each do |name| %>
                              <li><%= name %></li>
                            <% end %>
                          </ul>
                        </span>
                        <span style="font-size: 10px"><%= exam.description %></span>
                      </td>
                      <td><%= "#{exam.questions.count} / #{exam.no_of_questions}" %></td>
                      <td><%= exam.time_in_minutes %> Mins</td>
                      <td><%= exam.created_at&.strftime("%d-%b-%y") %></td>
                      <td><%= exam.show_exam_at&.strftime("%d-%b-%y %r") %></td>
                      <td class="text-center">
                        <%= check_box_tag :publish_result, 'true', false, 'data-toggle': "modal", 'data-target': '#publishResultModal', checked: exam.publish_result, disabled: true %>
                      </td>
                      <td>
                        <%= link_to '', edit_admin_exam_path(exam.id), class: 'glyphicon glyphicon-pencil'%> &nbsp;
                        <%= link_to '', admin_exam_path(exam), method: :delete, data: {confirm: 'Are you sure?'}, remote: true, class: 'glyphicon glyphicon-trash'%>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
            <%= paginate @exams %>
          <% else %>
            <div class="well">No exams found, Add exams </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'admin/exams/new' %>
<%= render partial: 'admin/exams/edit_exam_modal' %>
