<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="col-lg-6 p-3">
          <h5> Available Exams </h5>
        </div>
        <div class="col-lg-6 text-right p-3">
          <a href="<%= new_admin_exam_path %>">
            <button type="button" class="btn-add-exam btn btn-primary pull-right" >Add Exam</button>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-fixed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Batch(es)</th>
                <th>Description</th>
                <th>Question</th>
                <th>Added Ques</th>
                <th>Time</th>
                <th>Added on</th>
                <th>Publish Result</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% if @exams.present? %>
                <% @exams.each do |exam| %>
                  <tr>
                    <td class="text-truncate"><%= link_to exam.name, admin_exam_path(exam.id) %></td>
                    <td class="text-truncate"><%= exam&.batches&.each&.map(&:name).join(', ') %>
                      </td>
                    <td class="text-truncate"><%= exam.description %> ...</td>
                    <td><%= exam.no_of_questions %></td>
                    <td><%= exam.questions.count %></td>
                    <td><%= exam.time_in_minutes %> mins</td>
                    <td><%= exam.created_at.to_date %></td>
                    <td class="text-center">
                      <%= check_box_tag :publish_result, 'true', false, 'data-toggle': "modal", 'data-target': '#publishResultModal', checked: exam.publish_result, disabled: true %>
                    </td>
                    <td>
                      <%= link_to '', edit_admin_exam_path(exam.id), remote: true, class: 'glyphicon glyphicon-pencil'%> &nbsp;
                      <%= link_to '', admin_exam_path(exam), method: :delete, data: {confirm: 'Are you sure?'}, remote: true, class: 'glyphicon glyphicon-trash'%>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                  <tr>
                    <td colspan="8" class="text-center">No exams found, Add exams </td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'admin/exams/new' %>
<%= render partial: 'admin/exams/edit_exam_modal' %>
