<div class="container">
  <div class="row">
    <div class="col-lg-6"> <h4> Available Exams </h4></div>
    <div class="col-lg-6">
      <a href="<%= new_admin_exam_path %>">
        <button type="button" class="btn-add-exam btn btn-primary pull-right" data-toggle="modal" data-target="#examModal" style="margin-bottom: 10px">Add Exam</button>
      </a>
    </div>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Sr.No</th>
      <th>Name</th>
      <th>Description</th>
      <th>Question</th>
      <th>Added Q</th>
      <th>Time</th>
      <th>Added on</th>
      <th>status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <% if @exams.present? %>
      <% @exams.each_with_index do |exam, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= exam.name %></td>
          <td><%= exam.description.first(100) %> ...</td>
          <td><%= exam.no_of_questions %></td>
          <td><%= exam.questions.count rescue 0 %></td>
          <td><%= exam.time_in_minutes %> mins</td>
          <td><%= exam.created_at.to_date %></td>
          <td><%= exam.published %></td>
          <td>
            Add Q |
            Edit |
            Delete
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8" style="align-content: center">No exams found, Add exams </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%#= render partial: 'admin/exams/new' %>
