<head>
    <title>Confirmation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
      body {
        width: 96%;
        margin: 0 auto;
      }

      @media (min-width: 768px) {
        body {
          width: 60%;
        }
      }
    </style>
</head>

<div style="text-align: center;">
  <div>
    <%= image_tag 'success', height: '120px' %>
    <% if @errors.blank? %>
      <h3 style="color: green;">
        Congratulations, Your Application is processed Successfully.
      </h3>
      <p>
        RCC team will Activate Your account.
        Please write down the Reference Number for futher communication.
      </p>
      <p style="color: green;">
        Also, take screenshot for reference.
        Your login details are sent via SMS as well.
      </p>
      <table class="table" style="text-align: left;">
        <tr>
          <td>status: </td>
          <td>Success</td>
        </tr>
        <tr>
          <td>Roll Number </td>
          <td><%= @student&.roll_number %></td>
        </tr>
        <tr>
          <td>Parent Mobile </td>
          <td><%= @student&.parent_mobile %></td>
        </tr>
        <tr>
          <td>Batch(es)</td>
          <td><%= @student&.batches&.pluck(:name).join(', ') rescue nil %></td>
        </tr>
      </table>
    <% else %>
      <h3 style="color: red;">
        <%= @errors.join(', ') %>
      </h3>
    <% end %>
  </div>

  <a href="https://www.youtube.com/playlist?list=PLtwG3QSf_0Tb-_jqx0295OLYiimiJ7i5t">
    <p style="color: green; padding-top: 12px; font-size: 24px">
      Click here for RCC PCB/PCM Demo Lecture.
    </p>
  </a>

  <p style="color: peru; padding-top: 20px;">
    Note: Do not Panic, in case of failure. We will figure it out.
    Contact numbers: 9075402222, 9075392222.
  </p>

  <p style="color: red; padding-top: 10px;">
    Warning: Do not press back button or go back to payment page.
    Close browser or app after you take screenshot..
  </p>
  <hr>
</div>

