<head>
    <title>Confirmation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
      body {
        width: 96%;
        margin: 0 auto;
      }

      @media (min-width: 768px) {
        body {
          width: 60%;
        }
      }
    </style>
</head>

<div style="text-align: center;">
  <% if @status %>
    <div>
      <h3 style="color: green;">
        Congratulations, Payment Sucessfull.
      </h3>
      <p>
        RCC team will Activate Your account.
        Please write down the Reference Number for futher communication.
      </p>
      <p style="color: green;">
        Also, take printout of the receipt.
      </p>
      <table class="table" style="text-align: left;">
        <tr>
          <td>status: </td>
          <td>Success</td>
        </tr>
        <tr>
          <td>reference no: </td>
          <td><%= @new_admission&.id %></td>
        </tr>
      </table>
      <div style="text-align: center;">
        <a href= <%= "/print-receipt/#{@new_admission.reference_id}"%> target="_blank">
          <button class="btn"><i class="fa fa-print"></i> Print Receipt </button>
        </a>
      </div>
    </div>
  <% else %>
    <div>
      <h3 style="color: red;">
        Payment Failed.
      </h3>
      <p>
        Please write down the Reference Number, error code, and error for futher communication.
      </p>
      <p style="color: green;">
        Also, take printout of the receipt.
      </p>
      <table class="table" style="text-align: left;">
        <tr>
          <td>status: </td>
          <td>Failed</td>
        </tr>
        <tr>
          <td>reference no: </td>
          <td><%= @new_admission&.id %></td>
        </tr>
        <tr>
          <td>error code: </td>
          <td><%= @error_code %></td>
        </tr>
        <tr>
          <td>error: </td>
          <td><%= @erorr_info %></td>
        </tr>
      </table>
      <div style="text-align: center;">
        <a href= <%= "/print-receipt/#{@new_admission&.reference_id}"%> target="_blank">
          <button class="btn"><i class="fa fa-print"></i> Print Receipt </button>
        </a>
      </div>
    </div>
  <% end %>

  <p style="color: peru; padding-top: 20px;">
    Note: Do not Panic, in case of failure. We will figure it out.
    Contact numbers: 9075402222, 9075392222.
  </p>

  <p style="color: red; padding-top: 10px;">
    Warning: Do not press back button or go back to payment page.
    Close browser or app after you download pdf receipt.
  </p>
</div>

