<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RCC Admissions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      function showHideCourses(center) {
        const courses = ['p', 'b', 'pc', 'pcb']
        if (center === 'nanded') {
          courses.forEach(function(course) {
            var element = document.getElementById(course);
            element.classList.add("d-none");
          });
        }
        else {
          courses.forEach(function(course) {
            var element = document.getElementById(course);
            element.classList.remove("d-none");
          });
        }
      }

      $(document).ready(function() {
        function adjustUI() {
          var courseType = $('input[name=course_type]:checked').val();
          var selectedBatch = $('#batch').find(":selected").val();
          if(selectedBatch === '11th' || selectedBatch === 'neet_saarthi' || selectedBatch === '12th_set') {
            if (selectedBatch === '11th' || selectedBatch === '12th_set') {
              $('#rcc-set-exam-11').show();
              $('#neet-saarthi').show();
            }
            if (selectedBatch === 'neet_saarthi') {
              $('input[value=phy]').prop('checked', true);
              $('input[value=chem]').prop('checked', true);
              $('input[value=bio]').prop('checked', true);
              $('input[value=pcb]').prop('checked', true);
              $('#rcc-set-exam-11').hide();
              $('#neet-saarthi').show();
            }
            $('#course-selection').hide();
          } else {
            $('#rcc-set-exam-11').hide();
            $('#neet-saarthi').hide();
            $('#course-selection').show();
          }

          if($('#batch').find(":selected").val() === '11th' || $('#batch').find(":selected").val() === 'neet_saarthi' || $('#batch').find(":selected").val() === '12th_set') {
            if(courseType === 'neet' || $('#batch').find(":selected").val() === 'neet_saarthi') {
              $('input[value=phy]').prop('checked', true);
              $('input[value=chem]').prop('checked', true);
              $('input[value=bio]').prop('checked', true);
              $('input[value=pcb]').prop('checked', true);
            } else {
              $('input[value=phy]').prop('checked', true);
              $('input[value=chem]').prop('checked', true);
              $('input[value=bio]').prop('checked', false);
              $('input[value=pcb]').prop('checked', false);
            }
            $('input[name="course[]"]').css("pointer-events","none");
          } else {
            $('input[value=phy]').prop('checked', false);
            $('input[value=chem]').prop('checked', false);
            $('input[value=bio]').prop('checked', false);
            $('input[value=pcb]').prop('checked', false);
            $('input[name="course[]"]').css("pointer-events","all");
          }
        }

        adjustUI();
        $('#batch').trigger("change");

        function hidePaymentDivs() {
          $('.payment-selection-div').animate( { "opacity": "hide", top:"100"} , 1000 );
          $('.payment-selection-div-rep').animate( { "opacity": "hide", top:"100"} , 1000 );
        }

        function resetPaymentModeSelection() {
          var payTypeRadioInputs = $('input[name=pay_type]')
          for(var i=0; i < payTypeRadioInputs.length; i++)
            payTypeRadioInputs[i].checked = false;
        }

        function showFeesDetails() {
          var totalFees = '₹60,000';
          var oneTimeFees = '₹55,000';
          var installmentFees = '₹30,000';
          var nextInstallmentFees = '₹30,000';

          var batch = $('#batch').find(":selected").val();
          var courseSelected = $('input[name="course[]"]:checked').length >= 1;

          hidePaymentDivs();
          resetPaymentModeSelection();


          if ((batch === "11th_new" || batch === "12th") && courseSelected) {
            $('.payment-selection-div').animate( { "opacity": "show", top:"100"} , 1000 );
          }

          if (batch === "repeater" && courseSelected) {
            $('.payment-selection-div-rep').animate( { "opacity": "show", top:"100"} , 1000 );
          }

          var subjectCount = 0
          if ($('input[value=phy]:checked').length == 1) {
            subjectCount = 1
          }
          if ($('input[value=chem]:checked').length == 1) {
            subjectCount = 1
          }
          if ($('input[value=bio]:checked').length == 1) {
            subjectCount = 1
          }
          if ($('input[value=pc]:checked').length == 1) {
            subjectCount = 2
          }
          if ($('input[value=cb]:checked').length == 1) {
            subjectCount = 2
          }
          if ($('input[value=pb]:checked').length == 1) {
            subjectCount = 2
          }
          if ($('input[value=pcb]:checked').length == 1) {
            subjectCount = 3
          }
          if ($('input[value=pcm]:checked').length == 1) {
            subjectCount = 3
          }
          if ($('input[value=pcbm]:checked').length == 1) {
            subjectCount = 4
          }
          var rccBranch = $('input[name=rcc_branch]:checked').val();
          var isOneTimePayment = $('input[name=one_time]:checked').val();

          if (subjectCount == 0) {
            totalFees = '-';
            oneTimeFees = '-';
            installmentFees = '-';
            nextInstallmentFees = '-';
          }

          if (batch === "11th_new" || batch === "12th") {
            if (rccBranch === "nanded") {
              if (subjectCount === 4) {
                totalFees = '₹80,000';
                oneTimeFees = '₹80,000';
                installmentFees = '₹40,000';
                nextInstallmentFees = '₹40,000';
              } else if (subjectCount === 3) {
                totalFees = '₹55,000';
                oneTimeFees = '₹55,000';
                installmentFees = '₹25,000';
                nextInstallmentFees = '₹30,000';
              } else if (subjectCount === 2) {
                totalFees = '₹45,000';
                oneTimeFees = '₹45,000';
                installmentFees = '₹25,000';
                nextInstallmentFees = '₹20,000';
              } else if (subjectCount === 1) {
                totalFees = '₹25,000';
                oneTimeFees = '₹25,000';
                installmentFees = '₹15,000';
                nextInstallmentFees = '₹10,000';
              }
            } else {
              if (subjectCount === 4) {
                totalFees = '₹80,000';
                oneTimeFees = '₹80,000';
                installmentFees = '₹40,000';
                nextInstallmentFees = '₹40,000';
              } else if (subjectCount === 3) {
                totalFees = '₹60,000';
                oneTimeFees = '₹60,000';
                installmentFees = '₹25,000';
                nextInstallmentFees = '₹35,000';
              } else if (subjectCount === 2) {
                totalFees = '₹50,000';
                oneTimeFees = '₹50,000';
                installmentFees = '₹25,000';
                nextInstallmentFees = '₹25,0000';
              } else if (subjectCount === 1) {
                totalFees = '₹25,000';
                oneTimeFees = '₹25,000';
                installmentFees = '₹15,000';
                nextInstallmentFees = '₹10,000';
              }
            }
          }

          if (batch === "repeater") {
            if (rccBranch === "nanded") {
              if (subjectCount === 3) {
                totalFees = '₹55,000';
                oneTimeFees = '₹50,000';
                installmentFees = '₹25,000';
                nextInstallmentFees = '₹30,000';
              } else if (subjectCount === 2) {
                totalFees = '₹45,000';
                oneTimeFees = '₹40,000';
                installmentFees = '₹20,000';
                nextInstallmentFees = '₹25,000';
              } else if (subjectCount === 1) {
                totalFees = '₹25,000';
                oneTimeFees = '₹25,000';
                installmentFees = '₹15,000';
                nextInstallmentFees = '₹10,000';
              }
            } else {
              if (subjectCount === 3) {
                totalFees = '₹75,000';
                oneTimeFees = '₹60,000';
                installmentFees = '₹30,000';
                nextInstallmentFees = '₹45,000';
              } else if (subjectCount === 2) {
                totalFees = '₹50,000';
                oneTimeFees = '₹50,000';
                installmentFees = '₹25,000';
                nextInstallmentFees = '₹25,000';
              } else if (subjectCount === 1) {
                totalFees = '₹25,000';
                oneTimeFees = '₹25,000';
                installmentFees = '₹15,000';
                nextInstallmentFees = '₹10,000';
              }
            }
          }

          if (batch === "11th_new" || batch === "12th") {
            $('#total').text(totalFees);
            $('#one-time-val').text(oneTimeFees);
            $('#installment-val').text(installmentFees)
            $('#next-installment-val').text(nextInstallmentFees)
          } else {
            $('#total-rep').text(totalFees);
            $('#one-time-val-rep').text(oneTimeFees);
            $('#installment-val-rep').text(installmentFees)
            $('#next-installment-val-rep').text(nextInstallmentFees)
          }
        }

        $('input[name="course[]"]').on('change', showFeesDetails);

        function batchChange() {
          adjustUI();
          showFeesDetails();
        }

        $('#batch').on('change', batchChange);
        $('input[name=rcc_branch]').on('change', batchChange);
      });

    </script>

  </head>
  <body>

    <div class="container" style="background-color: white;">
      <% logo_props = get_logo(request.subdomain) %>
      <div class="row" style="border-bottom: 1px solid lightgray; padding-bottom: 1px;">
        <div style="padding-left: 20px;">
          <%= image_tag logo_props[:logo], width: 100, height: 50 %>
        </div>
        <div style="padding-top: 20px; padding-left: 20px;">
          <p class="pull-right" style="font-size: large;">Admission form</p>
        </div>
      </div>
      <div style="text-align: center; color: lightgray;">
        <p>Please fill all the details</p>
      </div>
      <% if flash[:error] %>
      <div style="color: red;">
        <ul>
          <% flash[:error].each do |error| %>
            <li>
              <%= error %>
            </li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <% disable_field = @student.present? %>
      <%= form_tag students_admissions_path, method: :post, class: 'needs-validation form-horizontal' do %>
        <div class="form-group d-none %>">
          <input type="text" value="<%= @student&.id %>" class="form-control" name="student_id">
        </div>
        <input type="hidden" name="is_set" value="<%= @is_set %>">
        <input type="hidden" name="student_id" value="<%= @student_id %>">

        <div class="form-group" style="text-align: center; background-color: #ffd452; padding: 10px; border-radius: 10px">
          <div class="form-check form-check-inline">
            <label class="form-check-label">Course Type: </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="course_type" id="radio-neet" value="neet" required checked />
            <label class="form-check-label">NEET</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="course_type" id="radio-jee" value="jee" required />
            <label class="form-check-label">JEE</label>
          </div>
        </div>

        <div class="form-group" style="text-align: center; background-color:rgb(201, 201, 201); padding: 10px;">
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="a">RCC Branch: </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rcc_branch" id="radio-latur" value="latur" required checked />
            <label class="form-check-label" for="inlineRadio1">Latur</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rcc_branch" id="radio-nanded" value="nanded" required />
            <label class="form-check-label" for="inlineRadio2">Nanded</label>
          </div>
        </div>

        <div class="form-group">
          <input type="text" value="<%= @student&.name %>" class="form-control" id="name" placeholder="First middle LastName" name="name" required <%= disable_field ? 'readonly': '' %>>
        </div>
        <div class="form-group <%= @student.blank? ? '' : 'd-none' %>">
          <input type="text" value="<%= @student&.email %>" class="form-control" id="email" placeholder="Enter your Email" name="email" required >
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please enter your email.</div>
        </div>
        <div class="form-group">
          <input type="number" value="<%= @student&.parent_mobile %>" class="form-control" id="parent_mobile"  maxlength="10" placeholder="Parent Mobile" name="parent_mobile" required <%= disable_field ? 'readonly': '' %>>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please enter Parent Mobile.</div>
        </div>
        <div class="form-group">
          <input type="number" value="<%= @student&.student_mobile.present? ? @student&.student_mobile : @student&.parent_mobile %>" class="form-control" id="student_mobile" maxlength="10" placeholder="Student Mobile" name="student_mobile" required <%= disable_field && @student.student_mobile.present? ? 'readonly': '' %>>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please enter Student Mobile.</div>
        </div>

        <% if @student.present? %>
          <div class="form-group">
            <input type="number" class="form-control" id="prev_receipt_number" maxlength="20" placeholder="Your Previous Payment, Receipt Number" name="prev_receipt_number">
          </div>
        <% end %>

        <div class="form-group" style="text-align: center; background-color:rgb(239, 239, 239);">
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="a">Gender: </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="male" checked>
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="female">
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
        </div>
        <div>
          <div>
            <% if @student.present? %>
              <p style="color: gray;">Your Existing Batch: </p>
            <% else %>
              <p style="color: gray;">Batch Selection: </p>
            <% end %>
          </div>
          <div class="form-group">
            <select id="batch" class="form-control" name="batch">
              <% if @student.present? %>
                <option value="12th">12th</option>
              <% else %>
                <option value="11th_new" selected>11th Regular Batch (2022-2023)</option>
                <option value="12th">12th Regular Batch (2022-2023)</option>
                <option value="repeater">Repeater-2021-2022</option>
                <option value="11th">11th Free Foundation 2022</option>
                <option value="neet_saarthi" >NEET SAARATHI 2022</option>
                <%# <option value="12th_set">12th RCC SET 2022-23</option> %>
                <%# <option value="crash_course">Crash Course</option> %>
              <% end %>
            </select>
          </div>
        </div>

        <div style="background-color:azure; padding: 10px">
          <div>
            <% if @student.present? %>
              <p style="color: gray;">BUY new course or Pay installment: </p>
            <% else %>
              <p style="color: gray;">Course Selection:
                <span id="rcc-set-exam-11" style="color: green; font-size: 10px; display: none">[Your Course is free for all subjects]</span>
                <span id="neet-saarthi" style="color: green; font-size: 12px; display: none">[RCC NEET SET is for PCB]</span>
              </p>
            <% end %>
          </div>
          <div id="course-selection" class="form-group" style="text-align: center;">
            <div id="c" class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="course[]" value="chem">
              <label class="form-check-label" for="inlineRadio1">Chem</label>
            </div>
            <div id="p" class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="course[]" value="phy">
              <label class="form-check-label" for="inlineRadio2">Phy</label>
            </div>
            <div id="b" class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="course[]" value="bio">
              <label class="form-check-label" for="inlineRadio2">Bio</label>
            </div>
            <div id="b" class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="course[]" value="pc">
              <label class="form-check-label" for="inlineRadio2">PC</label>
            </div>
            <div id="b" class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="course[]" value="cb">
              <label class="form-check-label" for="inlineRadio2">CB</label>
            </div>
            <div id="b" class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="course[]" value="pb">
              <label class="form-check-label" for="inlineRadio2">PB</label>
            </div>
            <div id="pcb" class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="course[]" value="pcb">
              <label class="form-check-label" for="inlineRadio2">PCB</label>
            </div>
            <div id="pcm" class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="course[]" value="pcm">
              <label class="form-check-label" for="inlineRadio2">PCM</label>
            </div>
            <div id="pcbm" class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="course[]" value="pcbm">
              <label class="form-check-label" for="inlineRadio2">PCBM</label>
            </div>
          </div>
        </div>

        <div class="payment-selection-div" style="background-color: #d0f1cd; padding: 10px; display: none">
          <table style="width: 90%;">
            <tr>
              <td colspan=2>
                <span id="11th-new" style="color: red; font-size: 16px;">* Disclaimer: Our Gross Total Fee for PCB is 75,000. Due to Covid Pandemic, we offered concession as per our branch locally.</span>
              </td>
            </tr>
            <tr>
              <td><p style="color: gray;">Select Payment mode :: </p> </td>
              <td colspan="2" class="text-center"><p>Total Fees:	<b><span id="total">₹60,000</span></b></p></td>
            </tr>
            <tr>
              <td><p style="color: gray;">If Paid OneTime</p></td>
              <td><span id="one-time-val">₹55,000</span></td>
              <td><input type='radio' name="pay_type" value="one_time"> Pay One time</input></td>
            </tr>
            <tr>
              <td><p style="color: gray;">If Paid In Installments, First Installment</p></td>
              <td><span id="installment-val">₹20,000</span></td>
              <td><input type='radio' name="pay_type" value="installment" checked> Pay First Installment</input></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2"><p style="color: gray;">Next Installment will be <span id="next-installment-val">₹40,000</span></p> </td>
            </tr>
          </table>
        </div>

        <div class="payment-selection-div-rep" style="background-color: #cdd0f1; padding: 10px; display: none">
          <table style="width: 100%;" class="table table-bordered table-condensed">
            <tr style="padding-bottom: 0px">
              <td><span style="color: gray;">Pay Mode : </p> </td>
              <td colspan="2" class="text-center"><span>Total Fees:	<b><span id="total-rep">₹60,000</span></b><//span></td>
            </tr>
            <tr>
              <td><span style="color: gray;">OneTime</span></td>
              <td><span id="one-time-val-rep">₹55,000</span></td>
              <td>
                <input type='radio' name="pay_type" value="one_time"> Pay One Time</input>
                <br>
                <span style="color: gray;"> Next Installment 'Nil' </span></span>
              </td>
            </tr>
            <tr>
              <td><span style="color: gray;">Installments</span></td>
              <td><span id="installment-val-rep">₹25,000</span></td>
              <td>
                <input type='radio' name="pay_type" value="installment" checked> Pay First Installment</input>
                <br>
                <span style="color: gray;">Next Installment will be <span id="next-installment-val-rep">₹35,000</span></span>
              </td>
            </tr>
          </table>
        </div>

        <div class="form-group form-check" style="background-color: rgb(240, 202, 202); padding: 10px 10px 10px 30px;">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember" required>
              I agree, to proceed my admission with RCC.
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Check this checkbox to continue.</div>
          </label>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-warning">Submit</button>
        </div>

        <div class="text-center" style="padding-top: 20px;">
          <p style="color: gray; font-size: small;">* Please complete payment, your admission will be confirmed once the payment is processed by the Bank.</p>
        </div>
      <% end %>
    </div>
  </body>
</html>