<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RCC Admissions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      function showHideCourses(center) {
        const courses = ['p', 'b', 'pc', 'pcb']
        if (center === 'nanded') {
          courses.forEach(function(course) {
            var element = document.getElementById(course);
            element.classList.add("d-none");
          });
        }
        else {
          courses.forEach(function(course) {
            var element = document.getElementById(course);
            element.classList.remove("d-none");
          });
        }
      }

      $(document).ready(function() {
        function adjustUI() {
          var courseType = $('input[name=course_type]:checked').val();
          if($('#batch').find(":selected").val() === '11th') {
            if(courseType === 'neet') {
              $('input[value=phy]').prop('checked', true);
              $('input[value=chem]').prop('checked', true);
              $('input[value=bio]').prop('checked', true);
              $('input[value=pcb]').prop('checked', true);
            } else {
              $('input[value=phy]').prop('checked', true);
              $('input[value=chem]').prop('checked', true);
              $('input[value=bio]').prop('checked', false);
              $('input[value=pcb]').prop('checked', false);
            }
            $('input[name="course[]"]').css("pointer-events","none");
            $('#foundation-help-text').show();
          } else {
            $('input[value=phy]').prop('checked', false);
            $('input[value=chem]').prop('checked', false);
            $('input[value=bio]').prop('checked', false);
            $('input[value=pcb]').prop('checked', false);
            $('input[name="course[]"]').css("pointer-events","all");
            $('#foundation-help-text').hide();
          }
        }

        $('#batch').trigger("change");


        function showFeesDetails() {
          var totalFees = '₹60,000';
          var oneTimeFees = '₹55,000';
          var installmentFees = '₹30,000';
          var nextInstallmentFees = '₹30,000';

          if ($('input[name="course[]"]:checked').length >= 1 && $('#batch').find(":selected").val() === '11th_new') {
            $('.payment-selection-div').animate( { "opacity": "show", top:"100"} , 1000 );
          } else {
            $('.payment-selection-div').animate( { "opacity": "hide", top:"100"} , 1000 );
            return;
          }

          var subjectCount = 0
          if ($('input[value=phy]:checked').length == 1) {
            subjectCount += 1
          }
          if ($('input[value=chem]:checked').length == 1) {
            subjectCount += 1
          }
          if ($('input[value=bio]:checked').length == 1) {
            subjectCount += 1
          }
          if ($('input[value=pcb]:checked').length == 1) {
            subjectCount = 3
          }
          var rccBranch = $('input[name=rcc_branch]:checked').val();

          if (subjectCount == 0) {
            totalFees = '-';
            oneTimeFees = '-';
            installmentFees = '-';
            nextInstallmentFees = '-';
          }

          if (rccBranch === "nanded") {
            if (subjectCount === 3) {
              totalFees = '₹55,000';
              oneTimeFees = '₹50,000';
              installmentFees = '₹20,000';
              nextInstallmentFees = '₹35,000';
            } else if (subjectCount === 2) {
              totalFees = '₹40,000';
              oneTimeFees = '₹40,000';
              installmentFees = '₹15,000';
              nextInstallmentFees = '₹25,000';
            } else if (subjectCount === 1) {
              totalFees = '₹25,000';
              oneTimeFees = '₹25,000';
              installmentFees = '₹15,000';
              nextInstallmentFees = '₹10,000';
            }
          } else {
            if (subjectCount === 3) {
              totalFees = '₹60,000';
              oneTimeFees = '₹55,000';
              installmentFees = '₹20,000';
              nextInstallmentFees = '₹40,000';
            } else if (subjectCount === 2) {
              totalFees = '₹50,000';
              oneTimeFees = '₹45,000';
              installmentFees = '₹15,000';
              nextInstallmentFees = '₹35,000';
            } else if (subjectCount === 1) {
              totalFees = '₹25,000';
              oneTimeFees = '₹25,000';
              installmentFees = '₹15,000';
              nextInstallmentFees = '₹10,000';
            }
          }

          $('#total').text(totalFees);
          $('#one-time-val').text(oneTimeFees);
          $('#installment-val').text(installmentFees)
          $('#next-installment-val').text(nextInstallmentFees)
        }

        $('input[name="course[]"]').on('change', showFeesDetails);

        function batchChange() {
          adjustUI();
          showFeesDetails();
        }

        $('#batch').on('change', batchChange);
        $('input[name=rcc_branch]').on('change', batchChange);
      });

    </script>

  </head>
  <body>

    <div class="container" style="background-color: white;">
      <% logo_props = get_logo(request.subdomain) %>
      <div class="row" style="border-bottom: 1px solid lightgray; padding-bottom: 1px;">
        <div style="padding-left: 20px;">
          <%= image_tag logo_props[:logo], width: 100, height: 50 %>
        </div>
        <div style="padding-top: 20px; padding-left: 20px;">
          <p class="pull-right" style="font-size: large;">Admission form</p>
        </div>
      </div>
      <div style="text-align: center; color: lightgray;">
        <p>Please fill all the details</p>
      </div>
      <% if flash[:error] %>
      <div style="color: red;">
        <ul>
          <% flash[:error].each do |error| %>
            <li>
              <%= error %>
            </li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <% disable_field = @student.present? %>
      <%= form_tag students_admissions_path, method: :post, class: 'needs-validation form-horizontal' do %>
        <div class="form-group d-none %>">
          <input type="text" value="<%= @student&.id %>" class="form-control" name="student_id">
        </div>
        <input type="hidden" name="is_set" value="<%= @is_set %>">
        <input type="hidden" name="student_id" value="<%= @student_id %>">

        <div class="form-group" style="text-align: center; background-color: #ffd452; padding: 10px; border-radius: 10px">
          <div class="form-check form-check-inline">
            <label class="form-check-label">Course Type: </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="course_type" id="radio-neet" value="neet" required checked />
            <label class="form-check-label">NEET</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="course_type" id="radio-jee" value="jee" required />
            <label class="form-check-label">JEE</label>
          </div>
        </div>

        <div class="form-group" style="text-align: center; background-color:rgb(201, 201, 201); padding: 10px;">
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="a">RCC Branch: </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rcc_branch" id="radio-latur" value="latur" required checked />
            <label class="form-check-label" for="inlineRadio1">Latur</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rcc_branch" id="radio-nanded" value="nanded" required />
            <label class="form-check-label" for="inlineRadio2">Nanded</label>
          </div>
        </div>

        <div class="form-group">
          <input type="text" value="<%= @student&.name %>" class="form-control" id="name" placeholder="First middle LastName" name="name" required <%= disable_field ? 'readonly': '' %>>
        </div>
        <div class="form-group <%= @student.blank? ? '' : 'd-none' %>">
          <input type="text" value="<%= @student&.email %>" class="form-control" id="email" placeholder="Enter your Email" name="email" required >
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please enter your email.</div>
        </div>
        <div class="form-group">
          <input type="number" value="<%= @student&.parent_mobile %>" class="form-control" id="parent_mobile"  maxlength="10" placeholder="Parent Mobile" name="parent_mobile" required <%= disable_field ? 'readonly': '' %>>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please enter Parent Mobile.</div>
        </div>
        <div class="form-group">
          <input type="number" value="<%= @student&.student_mobile.present? ? @student&.student_mobile : @student&.parent_mobile %>" class="form-control" id="student_mobile" maxlength="10" placeholder="Student Mobile" name="student_mobile" required <%= disable_field && @student.student_mobile.present? ? 'readonly': '' %>>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please enter Student Mobile.</div>
        </div>

        <% if @student.present? %>
          <div class="form-group">
            <input type="number" class="form-control" id="prev_receipt_number" maxlength="20" placeholder="Your Previous Payment, Receipt Number" name="prev_receipt_number">
          </div>
        <% end %>

        <div class="form-group" style="text-align: center; background-color:rgb(239, 239, 239);">
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="a">Gender: </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="male" checked>
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="female">
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
        </div>
        <div>
          <div>
            <% if @student.present? %>
              <p style="color: gray;">Your Existing Batch: </p>
            <% else %>
              <p style="color: gray;">Batch Selection: </p>
            <% end %>
          </div>
          <div class="form-group">
            <select id="batch" class="form-control" name="batch">
              <% if @student.present? %>
                <option value="12th">12th</option>
              <% else %>
                <option value="11th_new" selected >11th Regular Batch (2021-2022)</option>
                <option value="11th">11th Foundation (RCC-SET-2021)</option>
                <option value="12th">12th-new-2021-2022</option>
                <option value="repeater">Repeater</option>
                <option value="test_series">Test Series</option>
                <option value="crash_course">Crash Course</option>
              <% end %>
            </select>
          </div>
        </div>

        <div style="background-color:azure; padding: 10px">
          <div>
            <% if @student.present? %>
              <p style="color: gray;">BUY new course or Pay installment: </p>
            <% else %>
              <p style="color: gray;">Course Selection: <span id="foundation-help-text" style="color: green; font-size: 10px; display: none">[11 Foundation (RCC-SET-2021) is for all subjects]</span></p>
            <% end %>
          </div>
          <div class="form-group" style="text-align: center;">
            <div id="c" class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="course[]" value="chem">
              <label class="form-check-label" for="inlineRadio1">Chemistry</label>
            </div>
            <div id="p" class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="course[]" value="phy">
              <label class="form-check-label" for="inlineRadio2">Physics</label>
            </div>
            <div id="b" class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="course[]" value="bio">
              <label class="form-check-label" for="inlineRadio2">Biology</label>
            </div>
            <div id="pcb" class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="course[]" value="pcb">
              <label class="form-check-label" for="inlineRadio2">P + C + B</label>
            </div>
          </div>
        </div>

        <div class="payment-selection-div" style="background-color: #d0f1cd; padding: 10px; display: none">
          <table style="width: 90%;">
            <tr>
              <td><p style="color: gray;">Select Payment mode : </p> </td>
              <td colspan="2" class="text-center"><p>Total Fees:	<b><span id="total">₹60,000</span></b></p></td>
            </tr>
            <tr>
              <td><p style="color: gray;">If Paid OneTime</p></td>
              <td><span id="one-time-val">₹55,000</span></td>
              <td><input type='radio' name="pay_type" value="one_time" checked> Pay One time</input></td>
            </tr>
            <tr>
              <td><p style="color: gray;">If Paid In Installments, First Installment</p></td>
              <td><span id="installment-val">₹20,000</span></td>
              <td><input type='radio' name="pay_type" value="installment"> Pay First Installment</input></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2"><p style="color: gray;">Next Installment will be <span id="next-installment-val">₹40,000</span></p> </td>
            </tr>
          </table>
        </div>

        <div class="form-group form-check" style="background-color: rgb(240, 202, 202); padding: 10px 10px 10px 30px;">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember" required>
              I agree, to proceed my admission with RCC.
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Check this checkbox to continue.</div>
          </label>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-warning">Submit</button>
        </div>

        <div class="text-center" style="padding-top: 20px;">
          <p style="color: gray; font-size: small;">* Please complete payment, your admission will be confirmed once the payment is processed by the Bank.</p>
        </div>
      <% end %>
    </div>
  </body>
</html>