<% att_table_data = [] %>
<% total = 0 %>
<% pr_count, ab_count, holiday_count = 0, 0, 0 %>


<% @from_date.upto(@to_date).each_with_index do |att_date, index| %>
  <% total += 1 %>
  <% holiday = @batch_holidays[att_date] ? @batch_holidays[att_date].comment : nil %>
  <% unless holiday.present? %>
    <% @attendances[att_date].present? ? pr_count += 1 : ab_count +=1 %>
  <% end %>

  <% att_table_data << {
    idx: index + 1,
    date: att_date.strftime('%d %b %Y'),
    status: holiday.present? ? "HOLIDAY - #{holiday}" : (@attendances[att_date].present? ? 'Present' : 'AB'),
    time: holiday.present? ? "HOLIDAY - #{holiday}" : @attendances[att_date].present? ? @attendances[att_date].map {|att| att.time_entry.strftime('%I:%M%p') }.join(', ') : '-'
  } %>
<% end %>

<div style="background-color: white; padding: 10px; margin-top: 10px">
  <p class="text-center" style="font-size: 20px"> <%= @current_org.name %></p>
  <p class="text-center" style="font-size: 18px">Attendance Report </p>
  <table class="table table-bordered">
    <tr>
      <td>Student Name</td>
      <td><%= @student.name %></td>
      <td>Roll Number</td>
      <td><%= @student.roll_number %></td>
    </tr>
    <tr>
      <td>Batch</td>
      <td><%= @student.batches.pluck(:name).join(', ') %></td>
      <% batch = @student.batches.where.not(start_time: nil)&.first %>
      <td>Batch Time</td>
      <td><%= "#{batch&.start_time&.strftime('%I:%M%p')} - #{batch&.end_time&.strftime('%I:%M%p')}" %></td>
    </tr>
    <tr>
      <td>Total Absent</td>
      <td><%= "#{ab_count}/#{total}" %></td>
      <td>Total Present</td>
      <td><%= "#{pr_count}/#{total}" %></td>
    </tr>
  </table>
</div>

<div style="background-color: white; padding: 10px; margin-top: 10px">
  <table class="table table-bordered table-striped table-vcenter text-nowrap">
    <thead>
      <tr>
        <th>Sr. NO</th>
        <th>Date</th>
        <th>Status</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% att_table_data.each do |att_table| %>
        <tr>
          <td><%= att_table[:idx] %></td>
          <td><%= att_table[:date] %></td>
          <td><%= att_table[:status] %></td>
          <td><%= att_table[:time] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
