<div class="row">
  <div class="col-lg-12">
    <%= form_with(model: @student,url: admin_student_path(@student), local: true, html: {class: 'card'} ) do |form |  %>
      <div class="card-header">
        <h3 class="card-title">Student Details</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label class="form-label">Roll Number*</label>
              <%= form.text_field :roll_number, class: 'form-control'%>
            </div>
          </div>
          <div class="col-sm-6 col-md-2">
            <div class="form-group">
              <label class="form-label">New RN</label>
              <input type="text" value="<%= @student_data[:roll_number] %>" class="form-control">
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <label class="form-label">Name*</label>
              <%= form.text_field :name, class: 'form-control', placeholder: 'Student Name' %>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <label class="form-label">Mother's Name</label>
              <%= form.text_field :mother_name, class: 'form-control', placeholder: 'Mother\'s Name' %>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <label class="form-label">Date of Birth</label>
              <%= form.text_field :date_of_birth, class: 'form-control', type: 'date' %>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <div class="form-label">Gender</div>
              <div class="custom-controls-stacked">
                <label class="custom-control custom-radio custom-control-inline">
                  <%= form.radio_button :gender, '0', class: 'custom-control-input' %>
                  <span class="custom-control-label">Male</span>
                </label>
                <label class="custom-control custom-radio custom-control-inline">
                  <%= form.radio_button :gender, '1', class: 'custom-control-input'%>
                  <span class="custom-control-label">Female</span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <label class="form-label">SSC Marks</label>
              <%= form.text_field :ssc_marks, class: 'form-control', placeholder: 'SSC Marks' %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-label">Address</label>
              <%= form.text_field :address, class: 'form-control', placeholder: 'Address' %>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <label class="form-label">Student Mobile</label>
              <%= form.text_field  :student_mobile, class: 'form-control', placeholder: 'Student Mobile' %>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <label class="form-label">Parent Mobile*</label>
              <%= form.text_field :parent_mobile, class: 'form-control', placeholder: 'Parent Mobile' , :maxlength => 10, :minlength => 10 %>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <label class="form-label">Category</label>
              <%= form.collection_select(:category_id, @student_data[:categories], :id, :name, {include_blank: 'Select Category'}, {class: 'form-control'} )%>
            </div>
          </div>
          <div class="col-sm-6 col-md-5">
            <div class="form-group">
              <div class="form-label">Photo</div>
              <div class="custom-file">
                <%= form.file_field :photo, class: 'custom-file-input'%>
                <label class="custom-file-label">Upload photo</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-7">
            <div class="form-group">
              <label class="form-label">College</label>
              <%= form.text_field  :college, class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-6 col-md-5">
            <div class="form-group">
              <label class="form-label">RFID Card Number</label>
              <%= form.text_field :rfid_card_number, class: 'rfid-card-field form-control' %>
            </div>
          </div>
          <div class="col-sm-6 col-md-12">
            <div class="form-group">
              <label class="form-label">Batch</label>
              <div class="selectgroup selectgroup-pills">
                <% student_batch_ids = @student.batches.ids %>
              </div>
              <%= render partial: 'admin/select_batches', locals: {var_name: 'student[batches][]', selected_batches: student_batch_ids } %>
            </div>
          </div>
          <div class="col-sm-12 col-md-12">
            <div class="form-group">
              <% if @student.errors.any? %>
                <div class="error-msg">
                  <h6><%= pluralize(@student.errors.count, "error")%> prevented from students being updated!</h6>
                  <ul>
                    <% @student.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-md-12">
            <div class="col-sm-5 col-md-5">
                <h5>
                  <span class="badge badge-primary">MOBILE</span>
                  <%= @student.app_login? ? ' - YES' : ' - NO'%>
                </h5>
                <% if @student.app_login? %>
                <p>
                  <b>Login Device details: </b>
                  device Unique Id: <%= @student.deviceUniqueId %>
                  deviceName: <%= @student.deviceName %>
                  manufacturer: <%= @student.manufacturer %>
                  brand: <%= @student.brand %>
                </p>
                <% end %>
            </div>

            <div class="col-sm-5 col-md-5">
                <h5>
                  <span class="badge badge-danger">LAPTOP</span>
                  <%= @student.is_laptop_login? ? ' - YES' : '- NO'%>
                </h5>
            </div>
            <div class="col-sm-2 col-md-2">
              <h5>
                <span class="badge badge-warning">Reset Count</span>
                <%= @student.app_reset_count %>
              </h5>
            </div>
          </div>
        <div class="pull-right">
          <h5 class='text-right' style="margin-left: 20px"> OTP: <%= ROTP::TOTP.new(Base32.encode(@student.parent_mobile), {interval: 1.day}).now %></h5>
        </div>
        </div>
      </div>
      <div class="card-footer">
        <p>Admission Date: <b><%= @student.created_at.strftime("%d-%B-%Y %I:%M %p") %></b></p>
        <% if @student.app_login? || @student.is_laptop_login? %>
          <div class="col-md-2">
            <%= link_to "Reset App logins", admin_student_reset_login_path(@student), class: 'btn btn-danger' %>
          </div>
        <% end %>
        &nbsp;
        <div class="col-md-3 text-right">
          <% if @student.disable? %>
            <%= link_to "Enable Student", admin_student_enable_path(@student), class: 'btn btn-success' %>
          <% else %>
            <%= link_to "Disable Student", admin_student_disable_path(@student), class: 'btn btn-warning' %>
          <% end %>
        </div>
        <div class="col-md-7 text-right">
          <%= link_to "Cancel", admin_students_path, class: 'btn btn-primary' %> &nbsp;&nbsp;
          <button type="submit" class="btn btn-success">Update Student</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
$(document).ready(function() {
  $('.rfid-card-field').keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>