<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="col-md-2">
          <h5 class="pt-3">Students</h5>
        </div>
      </div>
      <div class="card-body">
        <div class="col-xl-4 col-lg-5 col-md-7 col-sm-12 col-12">
          <%= search_form_for @search, url: admin_students_path, class:"form-inline my-2 my-lg-0" do |f| %>
            <span class="p-2">Name</span>
            <%= f.text_field :name_cont, placeholder: 'Search...', class: 'form-control mr-sm-2' %>
            <%= f.submit "Search", class: 'btn btn-outline-success my-2 my-sm-0'%>
          <% end %>
        </div>
        <div class="col-xl-5 col-lg-4 col-md-7 col-sm-12 col-12">
          <%= form_tag admin_students_path, method: :get, id: 'limit_form', class:"form-inline my-2 my-lg-0" do %>
            <span class="p-2">Show</span>
            <%= select_tag :limit, options_for_select([5, 10, 15, 20, 50], selected: params[:limit] || 10), class: 'form-control' %> <span class="p-2">Students per page</span>
          <% end %>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
          <%= link_to '<i class="glyphicon glyphicon-plus"> </i> Add Student'.html_safe, new_admin_student_path%>

        </div>
        <div class="table-responsive">
          <% if @students.present? %>
            <%= form_for :student, url: admin_students_path, method: :get, id: 'student_form' do |form| %>
              <table class="table card-table table-striped tabler-hover table-vcenter text-nowrap">
                <thead>
                  <tr>
                    <th><%= sort_link(@search, :roll_number) %></th>
                    <th>Batch(s)</th>
                    <th><%= sort_link(@search, :name) %></th>
                    <th><%= sort_link(@search, :email) %></th>
                    <th> Password</th>
                    <th>Parent Mobile</th>
                    <th><%= link_to '<i class="icon fe fe-file"></i> Download PDF'.html_safe, admin_students_path(request.parameters.merge({format: :pdf})), target: '_blank'%>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @students.each do |student| %>
                    <tr>
                      <td><%= student.roll_number %></td>
                      <td><%= student&.batches&.each&.map(&:name).join(', ') %>
                      </td>
                      <td><%= link_to student.name, admin_student_path(student) %></td>
                      <td><%= link_to student.email, admin_student_path(student) %></td>
                      <td><%= student.raw_password %></td>
                      <td><%= student.parent_mobile %></td>
                      <td>
                        <%= link_to '', admin_student_path(student), 'data-toggle'=>'tooltip', title: 'Show', class: 'glyphicon glyphicon-th-list' %> &nbsp;
                        <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_admin_student_path(student), 'data-toggle'=> 'tooltip', title: 'Edit' %> &nbsp;
                        <%= link_to '', admin_student_path(student), method: :delete, data: {confirm: 'Are you sure?'}, 'data-toggle': 'tooltip', title: 'Delete', class: "glyphicon glyphicon-trash" %>&nbsp;
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
            <%= paginate @students %>
          <% else %>
            <div class="alert alert-info">No students were found.</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" >
  $(function(){
    $('#limit').change(
      function() {
        $('#limit_form').submit();
      });
  });
</script>
