<div class="col-12">
  <div class="card-header text-center border-0">
      <h4 class="border-0"><%=  CLASS_NAME %></h4>
      <p><%= CLASS_ADDRESS %></p>
    </div>
    <% if @students.present? %>
      <table class="table table-vcenter text-nowrap">
        <thead>
          <tr>
            <th>Roll Number</th>
            <th>Batch(s)</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Parent Mobile</th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
            <tr>
              <td class="text-center"><%= student.roll_number %></td>
              <td class="text-center"><%= student&.batches&.each&.map(&:name).join(', ') %></td>
              <td><%= student.name %></td>
              <td><%= student.email %></td>
              <td class="text-center"><%= student.raw_password %></td>
              <td class="text-center"><%= student.parent_mobile %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-info">No students were found.</div>
    <% end %>
</div>
