<div style="background-color: white; border-radius: 10px; padding: 10px">
  <div style="border: 1px solid rgb(128,128,128);">
    <table class="table" style="border: none;">
      <tr>
        <td>
          Student Name:
        </td>
        <td>
          <b><%= @student.name %></b>
        </td>
        <td>
          Roll Number:
        </td>
        <td>
          <b><%= @student.roll_number %></b>
        </td>
      </tr>
      <tr>
        <td>
          Batch:
        </td>
        <td>
          <b><%= @student.batches.pluck(:name).join(', ') %></b>
        </td>
        <td>
          Parent Mobile:
        </td>
        <td>
          <b><%= @student.parent_mobile %></b>
        </td>
      </tr>
    </table>
  </div>
  <div class="table-responsive">
    <table class="table table-sm table-condensed table-striped table-bordered ">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Exam Name</th>
          <th scope="col">Score</th>
          <th scope="col">Rank</th>
        </tr>
      </thead>
      <tbody>
        <% @progress_report_data.each_with_index do |report_data, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td style="color: #467fcf">
              <%= report_data.exam_date.strftime("%d-%B") %>
              <br/>
              <span class="badge badge-secondary pull-right">
                <%= report_data.is_imported ? 'Theory' : 'Objective' %>
              </span>
            </td>
            <td>
              <% report_data.exam_name.chars.each_slice(25).each do |slice| %>
                <%= slice.join('') %>
                <br>
              <% end %>
            </td>
            <td>
              <% if report_data.data['total']['score'].to_s.downcase == 'absent' %>
                <span class="badge badge-danger">
                  Absent
                </span>
              <% else %>
                <span class="badge badge-info">
                  Percentage: <%= report_data.percentage.round(2) %>
                </span>
              <% end %>

              <% report_data.data.each do |key, val| %>
              <br>
                <%= key.humanize %>:&nbsp;&nbsp;&nbsp; <%= "#{val['score']}/#{val['total']}" %>
              <% end %>
            </td>
            <td>
              <span class="badge badge-info">
                -
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>