<div class="row form-group">
  <p>Select Batches: </p>
  <% @batches_with_group.each do |batch_group_id, batches| %>
    <div>
      <a class="btn btn-sm btn-light" data-toggle="collapse" href="#collapseBatch-<%= batch_group_id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
        <%= @batch_groups[batch_group_id]&.name || 'NO GROUP' %>
      </a>
      <div class="collapse" id="collapseBatch-<%= batch_group_id %>">
        <div class="col-sm-12" style="background-color: rgb(242, 237, 230); padding: 10px">
          <% batches.each do |batch| %>
            <label class="checkbox-inline"><input type="checkbox" name="<%= var_name || 'batch_ids[]' %>" value=<%= batch.id %> <%= selected_batches.include?(batch.id) ? 'checked' : '' %> ><%= batch.name %></label>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>