<div class="row" style="margin-left: -25px">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="col-md-10">
          <h5 class="pt-3">Holidays</h5>
        </div>
        <div class="col-md-10">
          <button class="btn">
            <%= link_to '<i class="glyphicon glyphicon-plus"> </i> Add Holidays'.html_safe, new_admin_holiday_path %>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <% if @holidays.present? %>
            <table class="table card-table table-striped tabler-hover table-vcenter text-nowrap">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Comment</th>
                  <th>Batches</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @holidays.each do |holiday_date, batch_holiday| %>
                  <tr>
                    <td rowspan= <%= batch_holiday.count + 1%> >
                      <%= holiday_date.strftime("%d-%b-%Y") %>
                    </td>
                  </tr>
                  <% batch_holiday.each do |holiday|%>
                    <tr>
                      <td><%= holiday.comment %></td>
                      <td><%= "[#{holiday.batch_id}] #{@batches_by_ids[holiday.batch_id].name}" %></td>
                      <td>
                        <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, admin_holiday_path(holiday), 'data-toggle': 'tooltip', title: 'Delete', method: :delete, data: {confirm: 'Are you sure?'} %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <div class="alert alert-info">No Holidays added.</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


