<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <a class="header-brand" href="/">
        <% if @current_org.data.dig('name_and_logo', 'logo').present? %>
          <%= image_tag @current_org.data.dig('name_and_logo', 'logo') %>
        <% end %>
        <%= @current_org&.name %>
      </a>
      <% if admin_signed_in? %>
        <div class="d-flex order-lg-2 ml-auto">
          <div class="dropdown">
            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
              <span class="avatar avatar-user-photo" ></span>
              <span class="ml-2 d-none d-lg-block">
                <span class="text-default"><%= current_admin.name %></span>
                <small class="text-muted d-block mt-1">Administrator</small>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fa fa-user"></i> Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fa fa-settings"></i> Settings
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fa fa-help-circle"></i> Need help?
              </a>
              <%= link_to '<i class="dropdown-icon fa fa-log-out"></i> Sign Out'.html_safe, destroy_admin_session_path, method: :delete, class:"dropdown-item"%>
            </div>
          </div>
        </div>
      <% end %>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
          <li class="nav-item">
            <%= link_to '<i class="fa fa-users"></i> Students'.html_safe, admin_students_path, class: current_page?(admin_students_path) ? "nav-link active" : "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to '<i class="fa fa-list"></i> Batches'.html_safe, admin_batches_path, class: current_page?(admin_batches_path) ? "nav-link active" : "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to '<i class="fa fa-list"></i> Subjects'.html_safe, admin_subjects_path, class: current_page?(admin_subjects_path) ? "nav-link active" : "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to '<i class="fa fa-chart-bar"></i> Reports'.html_safe, admin_reports_path, class: current_page?(admin_reports_path) ? "nav-link active" : "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to '<i class="fa fa-paste"></i> Exams'.html_safe, admin_exams_path, class: current_page?(admin_exams_path) ? "nav-link active" : "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to '<i class="fa fa-photo-video"></i> Videos Portal'.html_safe, admin_video_lectures_path, class: current_page?(admin_video_lectures_path) ? "nav-link active" : "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="<%= current_page?(admin_android_apps_path) ? 'dropdown-toggle nav-link active' : 'dropdown-toggle nav-link' %>" type="button" id="dropdownMenu1" data-toggle="dropdown">
              <i class="fa fa-mobile-alt"></i> Android APP
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="<%= admin_study_pdfs_path %>">PDF</a>
              <a class="dropdown-item" href="<%= admin_notifications_path %>">Notifications</a>
              <a class="dropdown-item" href="<%= admin_zoom_meetings_path %>">Live Classes</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Gallery</a>
              <a class="dropdown-item" href="#">App Settings</a>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to '<i class="fa fa-address-card"></i> OMR'.html_safe, admin_omr_index_path, class: current_page?(admin_omr_index_path) ? "nav-link active" : "nav-link" %>
          </li>
          <% if request.subdomain == 'bhargav' %>
            <li class="nav-item">
              <%= link_to '<i class="fa fa-address-card"></i> Attendance'.html_safe, admin_attendance_index_path, class: current_page?(admin_attendance_index_path) ? "nav-link active" : "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="<%= current_page?(admin_android_apps_path) ? 'dropdown-toggle nav-link active' : 'dropdown-toggle nav-link' %>" type="button" id="dropdownMenu1" data-toggle="dropdown">
              <i class="fas fa-tools"></i> Administration
            </a>
            <div class="dropdown-menu">
              <%= link_to '<i class="fa fa-users"></i> Admin Users'.html_safe, admin_users_path, class: "dropdown-item"%>
              <%= link_to '<i class="fas fa-rupee-sign"></i> Payments'.html_safe, admin_micro_payments_path, class: "dropdown-item"%>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

