<!DOCTYPE html>
<html>
  <head>
    <title>SmartExamsRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="page">
      <div class="page-main">
      <%= render 'layouts/admin/dashboard_header_new' %>
        <div class="my-3 my-md-5">
          <div class="container">
            <% flash.each do |key, value| %>
              <div id="alert" class="alert alert-<%= key == 'success' ? 'success' : 'danger' %>">
                <%= value %>
              </div>
            <% end %>
              <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(function(){
        $('#alert').fadeIn(1000).delay(2500).fadeOut(2000);
      });
    </script>
  </body>
</html>

