<!DOCTYPE html>
<html>
  <head>
    <title>SmartExamsRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <style type="text/css">
      .column-menu {
          float: left;
          width: 20%;
          margin: 3;
      }
      .column {
          float: left;
          width: 80%;
          margin: 3;
          padding-left: 2%;
      }
      /* Clear floats after the columns */
      .row:after {
          content: "";
          display: table;
          clear: both;
      }
      .nav-ul {
        list-style-type: none;
        margin: 2;
        padding: 0;
      }

      .nav-li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
      }

      /* Change the link color on hover */
      .nav-li a:hover {
        background-color: #555;
        color: white;
      }
    </style>
  </head>
  <body oncontextmenu="return false;">
    <%= render 'layouts/admin/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
      <div class="row">
        <div class="column-menu" style="padding:1%;">
          <%= render 'layouts/admin/left_menu' %>
        </div>
        <div class="column">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
