<div class="my-3 my-md-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-profile">
          <div class="card-header">
          </div>
          <div class="card-body text-center">
            <img class="card-profile-img" src="<%= if @student.photo? then @student.photo.url(:profile) else asset_path('img_avatar.png') end %>">
            <h3 class="mb-3"><%= current_student.name %></h3>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <%= form_with(model: @student, url: students_home_update_profile_path, method: :patch, local: true, html:{class: 'card'} ) do |form |  %>
          <div class="card-body">
            <h3 class="card-title">Edit Profile</h3>
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <label class="form-label">Roll Number</label>
                  <%= form.text_field :roll_number, class: 'form-control', disabled: true %>
                  <input type="hidden" value="<%= @student.id %>" name="id" >
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="form-group">
                  <label class="form-label">Name</label>
                  <%= form.text_field :name, class: 'form-control text-capitalize', disabled: true %>
                </div>
              </div>
              <div class="col-sm-6 col-md-5">
                <div class="form-group">
                  <label class="form-label">Email Address</label>
                  <%= form.text_field :email, class: 'form-control', disabled: true %>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="form-group">
                  <label class="form-label">Student Mobile</label>
                  <%= form.text_field :student_mobile, class: 'form-control', disabled: true %>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="form-group">
                  <label class="form-label">Parent Mobile</label>
                  <%= form.text_field :parent_mobile, class: 'form-control', disabled: true %>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="form-group">
                  <label class="form-label">Mother Name</label>
                  <%= form.text_field :mother_name, class: 'form-control text-capitalize', disabled: true%>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-label">Address</label>
                  <%= form.text_field :address, class: 'form-control', disabled: true %>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="form-group">
                  <div class="form-label">Gender</div>
                  <div class="custom-controls-stacked">
                    <label class="custom-control custom-radio custom-control-inline">
                      <%= form.radio_button :gender, '0', class: 'custom-control-input', disabled: true %>
                      <span class="custom-control-label">Male</span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                      <%= form.radio_button :gender, '1', class: 'custom-control-input' , disabled: true%>
                      <span class="custom-control-label">Female</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="form-group">
                  <label class="form-label">Date of Birth</label>
                  <%= form.text_field :date_of_birth, class: 'form-control', type: 'date', disabled: true %>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="form-group">
                  <div class="form-label">Photo</div>
                  <div class="custom-file">
                    <%= form.file_field :photo, class: 'custom-file-input' , disabled: true %>
                    <label class="custom-file-label">Upload photo</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-7">
                <div class="form-group">
                  <label class="form-label">College</label>
                  <%= form.text_field  :college, class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
            <%= form.submit "Update", class: 'btn btn-primary', disabled: true %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

