<div class="container">
  <div class="row text-center">
    <br/><br/>
    <div class="col-md-12">
      <h4>
      Total time spent: <%= distance_of_time_in_hours_and_minutes(@student_exam.ended_at, @student_exam.started_at) rescue "Not available" %>
      </h4>
    </div>
    <div class="col-md-12">
        <h6>summary of section(s) answered &nbsp;</h6>
    </div>
    <div class="col-md-12 text-muted">Your answers have been saved successfully.</div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <% if @student_exam %>
        <div class="table">
          <table class="table-stripped summary-table">
            <tr>
              <th class="summary-table-th text-white">Section</th>
              <th class="summary-table-th text-white">No of questions</th>
              <th class="summary-table-th text-white">Answered</th>
              <th class="summary-table-th text-white">Not-answered</th>
              <th class="summary-table-th text-white">Correct</th>
              <th class="summary-table-th text-white">Inorrect</th>
              <th class="summary-table-th text-white">Score</th>
            </tr>
            <% @student_exam_summaries.each do |student_exam_summary| %>
              <tr>
                <td class="summary-table-td">
                  <%= student_exam_summary.section.name %>
                </td>
                <td class="summary-table-td">
                  <%= student_exam_summary.no_of_questions %>
                </td>
                <td class="summary-table-td">
                  <%= student_exam_summary.answered %>
                </td>
                <td class="summary-table-td">
                  <%= student_exam_summary.not_answered %>
                </td>
                <td class="summary-table-td">
                  <%= student_exam_summary.correct %>
                </td>
                <td class="summary-table-td">
                  <%= student_exam_summary.incorrect %>
                </td>
                <td class="summary-table-td">
                  <%= student_exam_summary.score %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
      <div class="text-right">
        <%=  link_to  '<button class="btn btn-success">Continue</button>'.html_safe, students_tests_path %>
        <%=  link_to  '<button class="btn btn-primary">View Model Answer details</button>'.html_safe, students_model_answer_path(@exam_id) %>
      </div>
    </div>
  </div>
</div>
