<div class="col-md-12 col-xs-12">
  <ul class="nav nav-tabs">
    <li>
      <a data-toggle="tab" href="#progress_card">
        Progress Card
      </a>
    </li>
    <li class="active">
      <a data-toggle="tab" href="#new_exams">
        New Exams
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#previous_exams">
        Previous Exams
      </a>
    </li>
  </ul>
</div>
<div class="tab-content">
  <div id="new_exams" class="tab-pane fade in active">
    <% if @new_exams.size == 0 %>
      <div class="well"> 
        No New exams available for your batch right now. 
        Check Previous exams.
      </div>
    <% else %>
      <div class="row">
      <% @new_exams.each do |exam| %>
        <%= render partial: "exam_card", locals: {exam: exam} %>
      <% end %>
    </div>
    <% end %>
  </div>
  <div id="previous_exams" class="tab-pane fade">
    <% if @previous_exams.size == 0 %>
      <div class="well"> No exams available for your batch right now. Please try after some time. </div>
    <% else %>
      <div class="row">
        <% @previous_exams.each do |exam| %>
          <%= render partial: "exam_card", locals: {exam: exam} %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="progress_card" class="tab-pane fade">
    <div>
      <div class="table-responsive" style="background-color: white;">
        <table class="table table-sm table-condensed table-striped table-bordered ">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Exam Name</th>
              <th scope="col">Score</th>
              <th scope="col">Rank</th>
            </tr>
          </thead>
          <tbody>
            <% @progress_report_data.each_with_index do |report_data, index| %>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td style="color: #467fcf">
                  <%= report_data.exam_date.strftime("%d-%B") %>
                  <br/>
                  <span class="badge badge-secondary pull-right">
                    <%= report_data.is_imported ? 'Theory' : 'Objective' %>
                  </span>
                </td>
                <td>
                  <% report_data.exam_name.chars.each_slice(25).each do |slice| %>
                    <%= slice.join('') %>
                    <br>
                  <% end %>
                </td>
                <td>
                  <span class="badge badge-info">
                    Percentage: <%= report_data.percentage.round(2) %>
                  </span>
                  <% report_data.data.each do |key, val| %>
                  <br>
                    <%= key.humanize %>:&nbsp;&nbsp;&nbsp; <%= "#{val['score']}/#{val['total']}" %>
                  <% end %>
                </td>
                <td>
                  <span class="badge badge-info">
                    -
                  </span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>