<div class="container">
  <h4> Available Exams </h4>
  <hr>
    <% if @exams.size == 0 %>
      <p> No exams available right now. Please try after some time. </p>
    <% else %>
      <div class="row">
      <% @exams.each do |exam| %>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card">
            <%= image_tag 'bio', class: 'card-img-top', width: '200px'%>
            <div class="card-body">
              <h5 class="card-title"> <%= exam.name %> </h5>
              <p class="card-text"></p>
              <ul>
                <li class="text-truncate"><%= exam.description %></li>
                <li>No of questions: <b><%= exam.no_of_questions %></b></li>
              </ul>
              <% student_exam = @student_exams.try(:[], exam.id) %>
              <% if current_student && student_exam %>
                  <% if student_exam.ended_at.present? || ((student_exam.started_at + student_exam.exam.time_in_minutes.minutes) < Time.current) %>
                    <a href="/students/summary/<%= exam.id %>" class="btn btn-success">
                      View Result
                    </a>
                  <% elsif student_exam.started_at.present? %>
                    <a href="/students/exam/<%= exam.id %>" class="btn btn-success">
                      Continue Exam
                    </a>
                  <% else %>
                    <a href="<%= students_exam_instructions_path(exam_id: exam.id) %>" class="btn btn-primary">
                      Appear Exam
                    </a>
                  <% end %>
              <% else %>
                <a href="<%= students_exam_instructions_path(exam_id: exam.id) %>" class="btn btn-primary">
                  Appear Exam
                </a>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
     </div>
    <% end %>

  <hr>
  <p> Note: Mock Exams and questions updating soon.. </p>

  <style type="text/css">
    <%= @styles %>
  </style>
  <hr>
    <%= raw @test_html %>
  <hr>
</div>
