<div class="container">
  <h4> Available Exams </h4>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <%= image_tag 'bio', class: 'card-img-top', width: '200px'%>
        <div class="card-body">
          <h5 class="card-title">Demo Test</h5>
          <p class="card-text"></p>
          <ul>
            <li>Sample Question</li>
            <li>No of questions: <b>13</b></li>
          </ul>
          <a href="<%= students_exam_instructions_path %>" class="btn btn-primary">Appear Exam</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <%= image_tag 'bio', class: 'card-img-top', width: '200px' %>
        <div class="card-body">
          <h5 class="card-title">REPRODUCTIVE HEALTH</h5>
          <p class="card-text"></p>
          <ul>
            <li>reproductive health</li>
            <li>No of questions: <b>10  </b></li>
          </ul>
          <a href="/students?1" class="btn btn-primary">Appear Exam</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <%= image_tag 'phy', class: 'card-img-top', width: '200px', height: 120 %>
        <div class="card-body">
          <h5 class="card-title">Cell: Structure and Function</h5>
          <p class="card-text"></p>
          <ul>
            <li>Cell-The Unit of Life</li>
            <li>Biomolecules</li>
            <li>Cell Cycle and Cell Division</li>
            <li>Transport in Plants</li>
          </ul>
          <a href="<%= students_exam_instructions_path %>" class="btn btn-primary">Appear Exam</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <%= image_tag 'phy', class: 'card-img-top', width: '200px', height: 120 %>
        <div class="card-body">
          <h5 class="card-title">Electrodynamics</h5>
          <p class="card-text"></p>
          <ul>
            <li>Capacitance</li>
            <li>Current Electricity</li>
            <li>Electro Magnetic Induction</li>
            <li>Electro Magnetic Field</li>
            <li>Electrostatics</li>
          </ul>
          <a href="<%= students_exam_instructions_path %>" class="btn btn-primary">Appear Exam</a>
        </div>
      </div>
    </div>

  </div>
  <hr>
  <p> Note: Mock Exams and questions updating soon.. </p>

  <style type="text/css">
    <%= @styles %>
  </style>
  <hr>
    <%= raw @test_html %>
  <hr>s
</div>
