<div class="row">
  <div class="col col-login mx-auto">
    <div class="text-center mb-6">
      Smart Exams
    </div>
    <% auth_url = resource.is_a?(Admin) ? '/admin/authorise' : '/students/authorise' %>
    <%= form_for(resource, as: resource_name,html:{class:'card'}, url: auth_url) do |f| %>
    <div class="card-body p-6">
      <div class="card-title">Login to your account</div>
      <div class="form-group">
        <label class="form-label">
          <% if resource.is_a? Admin %>
            Email
          <% else %>
            Roll Number
          <% end %> 
        </label>
        <div class="input-icon">
          <span class="input-icon-addon">
            <i class="fe fe-user"></i>
          </span>
          <% if resource.is_a? Admin %>
            <%= f.email_field :login, placeholder:'Enter email ...', class:'form-control', autofocus: true %>
          <% else %>
            <%= f.text_field :login, placeholder:'Enter roll number...', class:'form-control', autofocus: true %>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">
          <%= (resource.is_a? Admin) ? 'Password' : 'Parent mobile no' %>
          <a href="password/new" class="float-right small">I forgot password</a>
        </label>
        <div class="input-icon">
          <span class="input-icon-addon">
            <i class="fe fe-lock"></i>
          </span>
          <% placeholder = (resource.is_a? Admin) ? 'Password' : 'Enter 10 digit Parent mobile' %>
          <%= f.password_field :password, autocomplete:'off', placeholder: placeholder, class:'form-control' %>
        </div>
      </div>
      <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <label class="custom-control custom-checkbox">
          <%= f.check_box :remember_me %>
          <span >Remember me</span>
        </label>
      </div>
      <% end -%>
      <div class="form-footer">
        <%= f.submit "Log in", class:'btn btn-primary btn-block' %>

        <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, style:"color:red;margin-top:2%;", :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>
      </div>
    </div>
    <% end %>
    <div class="text-center text-muted">
      <% if resource_name == "admin" %>
        Don't have account yet? <a href="./sign_up">Sign up</a>
      <% end %>
    </div>
  </div>
</div>

