<div class="row">
  <div class="col-lg-8">
    <%= form_with(model: @batch, url: admin_batch_path(@batch), local: true, html: {class: 'card'}) do |form| %>
      <div class="card-body">
        <h3 class="card-title">Add Batch</h3>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="form-label">Batch Id</label>
              <%= form.text_field :id, class: 'form-control', disabled: true %>
            </div>
          </div>
          <div class="col-sm-6 col-md-8">
            <div class="form-group">
              <label class="form-label">Batch Name</label>
              <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
            </div>
          </div>
          <div class="col-sm-6 col-md-8">
            <div class="form-group">
              <label class="form-label">Group</label>
              <select class="form-control" name="batch_group_id" id="batch_group_id" >
                <% @batch_groups.each do |batch_group| %>
                  <option value="<%= batch_group.id %>" <%= @batch.batch_group_id == batch_group.id ? 'selected' : '' %>>
                    <%= batch_group.name %>
                  </option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-8">
            <div class="form-group">
              <label class="form-label">Class</label>
              <select class="form-control" name="klass" id="klass" >
                <% @klasses.each do |klass| %>
                  <option value="<%= klass %>" <%= @batch.klass == klass ? 'selected' : '' %>>
                    <%= klass %>
                  </option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="col-sm-12 col-md-12">
            <div class="form-group">
              <p>Add Batch timming details, if this batch is offline and RFID attendance is being taken.</p>
            </div>
            <div class="col-md-6 col-sm-12 form-group">
              <label class="form-label">Start Time</label>
              <%= form.time_field :start_time, class: 'form-control', placeholder: 'Start Time' %>
            </div>
            <div class="col-md-6 col-sm-12 form-group">
              <label class="form-label">End Time</label>
              <%= form.time_field :end_time, class: 'form-control', placeholder: 'End Time' %>
            </div>
          </div>


          <div class="col-sm-12 col-md-12" style="background-color: #bfe6ff; border-radius: 10px; padding-top: 10px">
            <div class="form-group">
              <p>Select Fees Template</p>
            </div>
            <div class="col-md-12 col-sm-12 form-group">
              <% @fees_templates.each do |fees_template| %>
                <div class="col-md-6" style="padding: 0">
                  <label class="checkbox-inline">
                    <input type="checkbox" name="batch[fees_template_ids][]" value=<%= fees_template.id %> <%= @selected_templates&.include?(fees_template.id) ? 'checked' : '' %> >
                    <%= fees_template.name %>
                    <p style="font-size: 10px"><%= fees_template.description %></p>
                  </label>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-sm-6 col-md-8">
            <div class="form-group">
              <% if @batch.errors.any? %>
                <div class="error-msg">
                  <h6>
                    <%= pluralize(@batch.errors.count, "error") %> prevented from saving the updates
                  </h6>
                  <ul>
                    <% @batch.errors.full_messages.each do |msg| %>
                      <li>
                        <%= msg %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <%= link_to "Cancel", admin_batches_path, class: 'btn btn-primary' %> &nbsp;&nbsp;
        <button type="submit" class="btn btn-success">Update Batch</button>
      </div>
    <% end %>
  </div>
</div>
