<div class="row">
  <div class="col-lg-8">
    <%= form_with(model: @batch, url: admin_batch_path(@batch), local: true, html: {class: 'card'}) do |form| %>
      <div class="card-body">
        <h3 class="card-title">Add Batch</h3>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="form-label">Batch Id</label>
              <%= form.text_field :id, class: 'form-control', disabled: true %>
            </div>
          </div>
          <div class="col-sm-6 col-md-8">
            <div class="form-group">
              <label class="form-label">Batch Name</label>
              <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
            </div>
          </div>
          <div class="col-sm-6 col-md-8">
            <div class="form-group">
              <% if @batch.errors.any? %>
                <div class="error-msg">
                  <h6>
                    <%= pluralize(@batch.errors.count, "error") %> prevented from saving the updates
                  </h6>
                  <ul>
                    <% @batch.errors.full_messages.each do |msg| %>
                      <li>
                        <%= msg %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <%= link_to "Cancel", admin_batches_path, class: 'btn btn-primary' %> &nbsp;&nbsp;
        <button type="submit" class="btn btn-success">Update Batch</button>
      </div>
    <% end %>
  </div>
</div>
