<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="col-md-5">
          <h5>Batches</h5>
        </div>
        <div class="col-md-7">
          <%= search_form_for @q, url: admin_batches_path, method: :get, class: "form-inline" do |f| %>
            <%= f.select :branch_eq, options_for_select(@branches, params.dig(:q, :branch_eq)), prompt: "Select Branch", class: "form-control form-select mr-2" %>
            <%= f.submit "Filter", class: "btn btn-primary btn-sm ml-2" %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% if @current_admin.can_manage(:batches) %>
              <%= link_to '<i class="glyphicon glyphicon-plus"> </i> Add New Batch'.html_safe, new_admin_batch_path %>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <%= link_to '<i class="glyphicon glyphicon-circle-arrow-right"> </i> Bulk Student Batch change'.html_safe, change_batches_admin_batches_path %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if @batches.present? %>
        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap">
            <thead>
              <tr>
                <th class="w-1">No.</th>
                <th>Name</th>
                <th>Branch</th>
                <th>Created</th>
                <th>Year</th>
                <th>Group</th>
                <th>Class</th>
                <% if !@current_org.rcc? %>
                  <th>Total Students</th>
                  <th>Disabled Students</th>
                <% end %>
                <th>Batch Timming</th>
                <th>Devices</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @batches.each do |batch| %>
                <tr>
                  <td>
                    <span class="text-muted"><%= batch.id %></span>
                  </td>
                  <td>
                    <%= link_to batch.name, admin_batch_path(batch) %>
                    <% if batch.fees_templates.present? %>
                      <span style="font-size: 10px; padding-bottom: 4px"><i class='fa fa-lock'></i></span>
                    <% end %>
                  </td>
                  <td>
                    <%= batch.branch %>
                  </td>
                  <td>
                    <%= batch.created_at.strftime("%d-%b-%Y") %>
                  </td>
                  <td>
                    <%= batch.edu_year %>
                  </td>
                  <td>
                    <%= batch.batch_group&.name || '-' %>
                  </td>
                  <td>
                    <%= batch.klass || '-' %>
                  </td>
                  <% if !@current_org.rcc? %>
                  <td>
                    <%= batch.students_count %>
                  </td>
                  <td>
                    <%= batch.disable_count %>
                  </td>
                  <% end %>
                  <td>
                    <%= "#{batch.start_time&.strftime("%I:%M %p") || '-'} -  #{batch.end_time&.strftime("%I:%M %p") || '-'}" %>
                  </td>
                  <td>
                    <%= "#{batch.device_ids || '-'}" %>
                  </td>
                  <td>
                    <%= link_to '<i class="glyphicon glyphicon-th-list"></i>'.html_safe, admin_batch_path(batch), 'data-toggle': 'tooltip', title: 'Show' %>&nbsp;
                    <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_admin_batch_path(batch), 'data-toggle': 'tooltip', title: 'Edit' %>&nbsp;
                    <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, admin_batch_path(batch), 'data-toggle': 'tooltip', title: 'Delete', method: :delete, data: {confirm: 'Are you sure, You want to delete the batch, It will delete all students in the batch. Permanently??'} %>
                    <%= link_to 'Disable Batch', admin_batch_disable_path(batch), 'data-toggle': 'tooltip', title: 'Disalbe all Students', data: {confirm: 'Are you sure, You want to Disable all students. Permanently??'}, style: 'color: red;' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="alert alert-info">No batches were found.</div>
      <% end %>
    </div>
  </div>
</div>
