<div class="col-12">
  <div class="card" style="border: none;">
    <div class="card-header text-center">
      <h4>Munde Coaching Classes</h4>
      <p>Nanded.</p>
    </div>
      <table class="table table-bordered table-vcenter text-nowrap">
        <thead>
          <tr>
            <th>SrNo</th>
            <th>StudentName</th>
            <th>Batch</th>
            <th>Marks</th>
            <th>rank</th>
            <th>correct</th>
            <th>wrong</th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
            <tr>
              <% total = 90 %>
              <% correct = student[:marks]/2 %>
              <td><%= student[:id] %></td>
              <td><%= student[:name] %></td>
              <td><%= student[:batch] %></td>
              <td><%= student[:marks] %></td>
              <td><%= student[:rank] %></td>
              <td><%= correct %></td>
              <td><%= total - correct %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
