<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>Exam Reports</h5>
      </div>
      <div class="card-body">
        <% if @response[:status] %>
          <div class="col-12 text-right">
            <button class="btn btn-danger btn-sm clearfix">
              <span class="fa fa-file-pdf-o"></span>
              <%= link_to 'PDF', admin_report_path(request.parameters.merge({format: :pdf})), target: '_blank', class: 'text-white no-underline'%>
            </button>
            <button class="btn btn-success clearfix btn-sm">
              <span class="fa fa-file-text-o"></span>
              <%= link_to 'CSV'.html_safe, admin_report_path(request.parameters.merge({format: :csv})), target: '_blank', class: 'text-white no-underline'%>
            </button>
          </div>
          <div class="col-12">
            <div class="table-responsive mt-3">
              <table id="exportTable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th><%= sort_link(@response[:search], :student_id) %></th>
                    <th>Student Name</th>
                    <th>Score</th>
                    <th><%= sort_link(@response[:search], :rank) %></th>
                    <th>Correct</th>
                    <th>Wrong</th>
                  </tr>
                </thead>
                <tbody>
                  <% @response[:student_exam_summaries_hash].each do |student_exam_summary| %>
                    <tr>
                      <td><%= student_exam_summary[:roll_number] %></td>
                      <td><%= student_exam_summary[:name] %></td>
                      <td><%= student_exam_summary[:score] %></td>
                      <td><%= student_exam_summary[:rank] %></td>
                      <td><%= student_exam_summary[:correct] %></td>
                      <td><%= student_exam_summary[:incorrect] %></td>
                    </tr>
                  <% end  %>
                </tbody>
              </table>
            </div>
        </div>
        <% else %>
          <div class="well text-center">
            Nothing here yet. Seems no results are present.
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- you need to include the shieldui css and js assets in order for the components to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/jszip.min.js"></script>

<script type="text/javascript">
  jQuery(function ($) {
    $("#exportButton").click(function () {
      // parse the HTML table element having an id=exportTable
      var dataSource = shield.DataSource.create({
        data: "#exportTable",
        schema: {
          type: "table",
          fields: {
            SrNo: {type: String},
            StudentName: {type: String},
            Batch: {type: String},
            Marks: {type: String},
            rank: {type: String},
            correct: {type: String},
            wrong: {type: String},
          }
        }
      });

      // when parsing is done, export the data to PDF
      dataSource.read().then(function (data) {
        var pdf = new shield.exp.PDFDocument({
          author: "PrepBootstrap",
          created: new Date()
        });

        pdf.addPage("a4", "portrait");

        pdf.table(
          5,
          5,
          data,
          [
            {field: "SrNo", title: "Sr NO.", width: 50},
            {field: "StudentName", title: "Student ", width: 200},
            {field: "Batch", title: "Batch", width: 100},
            {field: "Marks", title: "Marks ", width: 50},
            {field: "rank", title: "rank", width: 50},
            {field: "correct", title: "correct ", width: 50},
            {field: "wrong" , title: "correct ", width: 50},
          ],
          {
            margins: {
              top: 50,
              left: 2
            }
          }
        );

        pdf.saveAs({
          fileName: "StudentReport"
        });
      });
    });
  });
</script>

<style>
  #exportButton {
    border-radius: 0;
  }
</style>
