<div class="col-12">
  <div class="card border-0">
    <div class="card-header text-center border-0">
      <h4>Creative Coaching Classes</h4>
      <p>'Sharda Bhavan', Shyam Nagar, Nanded</p>
    </div>
      <table class="table table-striped table-vcenter text-nowrap">
        <thead>
          <tr>
            <th>Roll Number</th>
            <th>StudentName</th>
            <th>Marks</th>
            <th>Rank</th>
            <th>correct</th>
            <th>wrong</th>
          </tr>
        </thead>
        <tbody>
          <% @response[:student_exam_summaries_hash].each do |student_exam_summary| %>
            <tr>
              <td><%= student_exam_summary[:roll_number] %></td>
              <td><%= student_exam_summary[:name] %></td>
              <td><%= student_exam_summary[:score] %></td>
              <td><%= student_exam_summary[:rank] %></td>
              <td><%= student_exam_summary[:correct] %></td>
              <td><%= student_exam_summary[:incorrect] %></td>
            </tr>
          <% end  %>
        </tbody>
      </table>
  </div>
</div>
