<div class="row" style="margin-left: -25px">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="col-md-8">
          <h5 style="margin-top: 7px">PDFs : <a href="/admin/genres" style="color: blue; text-decoration: underline">All pdfs</a> / <a href="<%= "/admin/genres?q[subject_id]=#{@genre&.subject&.id}"%> " style="color: blue; text-decoration: underline"><%= @genre&.subject&.name %></a><%= "  / #{@genre&.name}" %></h5>
        </div>
        <div class="col-md-1 offset-md-3text-right">
          <%= link_to 'Add New PDF', new_admin_study_pdf_path(q: {genre_id: @genre.id}), method: :get, class: "btn btn-info btn-sm" %>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <% if @study_pdfs.present? %>
            <table class="table card-table table-striped tabler-hover table-vcenter text-nowrap">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Pdf Name</th>
                  <th>Subject</th>
                  <th>Topic</th>
                  <th>Q's Paper</th>
                  <th>A's Paper</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @study_pdfs.each do |study_pdf| %>
                  <tr>
                    <td><%= study_pdf.id %></td>
                    <td>
                      <%= study_pdf.name %>
                      <span style="font-size: 10px; color: darkgreen">
                        <ul>
                          <% study_pdf.batches.order(:id).pluck(:name).each do |name| %>
                            <li><%= name %></li>
                          <% end %>
                        </ul>
                      </span>
                    </td>
                    <td><%= study_pdf.subject&.name %></td>
                    <td><%= study_pdf.genre&.name %></td>
                    <td><%= study_pdf.question_paper&.url ? (link_to 'link', study_pdf.question_paper&.url, target: "_blank") : "-" %></td>
                    <td><%= link_to 'link', study_pdf.solution_paper&.url, target: "_blank" %></td>
                    <td>
                      <%= link_to 'Edit', edit_admin_study_pdf_path(study_pdf), method: :get, class: "btn btn-warning btn-sm" %>
                      <%= link_to 'Del', admin_study_pdf_path(study_pdf), method: :delete, class: "btn btn-danger btn-sm" %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @study_pdfs %>
          <% else %>
            <div class="alert alert-info">No PDF's were found.</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

