<div class="row" >
  <div class="col-lg-8" style="background-color:rgb(222, 222, 222); ">
    <%= form_tag(admin_study_pdfs_path, method: :post, multipart: true) do %>
      <div class="card-body">
        <h3 class="card-title">Add New PDF</h3>
        <div class="custom-file form-group" style="margin-bottom: 10px;">
          <label> * PDF type: </label> &nbsp;&nbsp;
          <% StudyPdf.pdf_types.each do |key, val| %>
            <label class="radio-inline"><input name="pdf_type" type="radio" value=<%= val %>><%= key %></label>
          <% end %>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="exam_name" id="examName" placeholder="Enter pdf Name" required>
        </div>

        <div class="custom-file form-group" style="margin-bottom: 10px;">
          <input type="file" id="customFileQ" name="question_paper" accept="application/pdf">
          <label class="custom-file-label" for="customFileQ">Choose Question Paper PDF</label>
        </div>

        <div class="custom-file form-group" style="margin-bottom: 10px;">
          <input type="file" id="customFileS" name="solution_paper" accept="application/pdf">
          <label class="custom-file-label" for="customFileS">Choose Solution Paper PDF</label>
        </div>

        <div class="form-group">
          <% @batches.each do |batch| %>
            <label class="checkbox-inline"><input name="batches[]" type="checkbox" value=<%= batch.id %>><%= batch.name %></label>
          <% end %>
        </div>

        <input type="submit" class="btn btn-primary pull-right" />
      </div>

    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
      $('input[type="file"]').change(function(e){
          var fileName = e.target.files[0].name;
          var label = e.target.parentElement.lastElementChild;
          label.innerText = fileName;
      });
  });
</script>