<div class="row" >
  <div class="col-lg-12" style="background-color:rgb(222, 222, 222); ">
    <% if @pdf_types.present? %>
      <%= form_tag(admin_study_pdfs_path, method: :post, multipart: true) do %>
        <div class="card-body">
          <h3 class="card-title">Add New PDF</h3>
          <div class="form-group" style="margin-bottom: 10px;">
            <label> * PDF type: </label> &nbsp;&nbsp;
            <% @pdf_types.each do |pdf_type, val| %>
              <label class="radio-inline">
                <input name="pdf_type" type="radio" value="<%= pdf_type %>" data-type="<%= pdf_type %>" <%= pdf_type == 'single_link' ? 'checked' : ''%> required>
                <%= pdf_type == 'qna' ? "Question Paper & Ans Paper" : "Single PDF" %>
              </label>
            <% end %>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" name="pdf_name" id="examName" placeholder="Enter pdf Name" required>
          </div>

          <div class="row form-group" style="margin-bottom: 25px">
            <div class="col-sm-6">
              Subject:
              <select class="form-control" name="subject_id" id="subjectId" style="pointer-events:none; background: #e3e3e3">
                <% subject = @genre.subject %>
                <option value="<%= subject.id %>" selected>
                  <%= subject.name %>
                </option>
              </select>
            </div>

            <div class="col-sm-6">
              Folder:
              <select class="form-control" name="genre_id" id="genreId" style="pointer-events:none; background: #e3e3e3">
                <option value="<%= @genre.id %>" selected>
                  <%= @genre.name %>
                </option>
              </select>
            </div>
          </div>

          <div id="qna" class="hidden">
            <div class="custom-file form-group" style="margin-bottom: 10px;">
              <input type="file" id="customFileQ" name="question_paper" accept="application/pdf">
              <label class="custom-file-label qpl" for="customFileQ">Choose Question Paper PDF</label>
            </div>

            <div class="custom-file form-group" style="margin-bottom: 10px;">
              <input type="file" id="customFileS" name="solution_paper" accept="application/pdf">
              <label class="custom-file-label spl" for="customFileS">Choose Solution Paper PDF</label>
            </div>
          </div>

          <div id="single_link" class="custom-file form-group" style="margin-bottom: 20px;">
            <input type="file" id="customFileS1" name="solution_paper" accept="application/pdf">
            <label class="custom-file-label spl1" for="customFileS1">Choose PDF File</label>
          </div>

          <%= render partial: 'admin/select_batches', locals: {var_name: 'batches[]', selected_batches: []} %>

          <input type="submit" class="btn btn-primary pull-right" />
        </div>
      <% end %>
    <% else %>
    <div class="card-body">
      <h3 class="card-title">Add New PDF</h3>
      <div class="text-center">
        <span>
          Please add
          <span style="color: red;">'PDF types'</span>
          first.
        </span>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(
    function(){
      $('input[type="file"]').change(function(e){
          var fileName = e.target.files[0].name;
          var label = e.target.parentElement.lastElementChild;
          label.innerText = fileName;
      });

      $('input[type="radio"]').change(function(event){
        var pdfType = event.target.getAttribute("data-type");
        $('input[type="file"]').val('');
        $('.spl').text('Choose Solution Paper PDF');
        $('.qpl').text('Choose Question Paper PDF');
        $('.spl1').text('Choose PDF File');
        if (pdfType === 'qna') {
          $('#qna').removeClass('hidden')
          $('#single_link').addClass('hidden')
        } else {
          $('#qna').addClass('hidden')
          $('#single_link').removeClass('hidden')
        }
      });
    }
  );
</script>