<div class="row" >
  <div class="col-lg-8" style="background-color:rgb(222, 222, 222); ">
    <% if @study_pdf_types.present? %>
      <%= form_tag(admin_study_pdfs_path, method: :post, multipart: true) do %>
        <div class="card-body">
          <h3 class="card-title">Add New PDF</h3>
          <div class="custom-file form-group" style="margin-bottom: 10px;">
            <label> * PDF type: </label> &nbsp;&nbsp;
            <% @study_pdf_types.each do |study_pdf_type| %>
              <label class="radio-inline">
                <input name="pdf_type_id" type="radio" value="<%= study_pdf_type.id %>" data-type="<%= study_pdf_type.pdf_type %>" <%= study_pdf_type.pdf_type == 'qna' ? 'checked' : ''%> required>
                <%= study_pdf_type.name %>
              </label>
            <% end %>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" name="pdf_name" id="examName" placeholder="Enter pdf Name" required>
          </div>

          <div id="qna">
            <div class="custom-file form-group" style="margin-bottom: 10px;">
              <input type="file" id="customFileQ" name="question_paper" accept="application/pdf">
              <label class="custom-file-label qpl" for="customFileQ">Choose Question Paper PDF</label>
            </div>

            <div class="custom-file form-group" style="margin-bottom: 10px;">
              <input type="file" id="customFileS" name="solution_paper" accept="application/pdf">
              <label class="custom-file-label spl" for="customFileS">Choose Solution Paper PDF</label>
            </div>
          </div>

          <div id="single_link" class="custom-file form-group hidden" style="margin-bottom: 10px;">
            <input type="file" id="customFileS1" name="solution_paper" accept="application/pdf">
            <label class="custom-file-label spl1" for="customFileS1">Choose PDF File</label>
          </div>

          <%= render partial: 'admin/select_batches', locals: {var_name: 'batches[]', selected_batches: []} %>

          <input type="submit" class="btn btn-primary pull-right" />
        </div>
      <% end %>
    <% else %>
    <div class="card-body">
      <h3 class="card-title">Add New PDF</h3>
      <div class="text-center">
        <span>
          Please add
          <span style="color: red;">'PDF types'</span>
          first.
        </span>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(
    function(){
      $('input[type="file"]').change(function(e){
          var fileName = e.target.files[0].name;
          var label = e.target.parentElement.lastElementChild;
          label.innerText = fileName;
      });

      $('input[type="radio"]').change(function(event){
        var pdfType = event.target.getAttribute("data-type");
        $('input[type="file"]').val('');
        $('.spl').text('Choose Solution Paper PDF');
        $('.qpl').text('Choose Question Paper PDF');
        $('.spl1').text('Choose PDF File');
        if (pdfType === 'qna') {
          $('#qna').removeClass('hidden')
          $('#single_link').addClass('hidden')
        } else {
          $('#qna').addClass('hidden')
          $('#single_link').removeClass('hidden')
        }
      });
    }
  );
</script>