<div class="container card">
  <div class="card-header">
    <div class="col-md-6">
      <h5>Video Lectures</h5>
    </div>
    <div class="col-md-4 text-right">
      <a href="<%= admin_genres_path %>" class="btn btn-warning" role="button" aria-pressed="true">+ Add Video Folder</a>
    </div>
    <div class="col-md-2 text-right">
      <%= link_to '<i class="glyphicon glyphicon-plus"> </i> Add Video Lecture'.html_safe, new_admin_video_lecture_path %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table card-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Subject</th>
          <th>Title</th>
          <th>Teacher</th>
          <th>Folder</th>
          <th>Publish at</th>
          <th>Show video</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @video_lectures.each do |vl| %>
          <tr>
            <td>
              <span class="text-muted"><%= vl.id %></span>
            </td>
            <td>
              <%= vl.subject&.name&.humanize %>
            </td>
            <td>
              <%= link_to "#{vl.title.length > 40 ? vl.title.first(50) + '...' : vl.title }", edit_admin_video_lecture_path(vl) %>
            </td>
            <td>
              <%= vl.by %>
            </td>
            <td>
              <%= vl.genre&.name %>
            </td>
            <td>
              <%= vl&.publish_at&.strftime("%d-%b %I:%M %p") || '-' %>
            </td>
            <td>
              <%= time_ago_in_words(vl.created_at) %> | 
              <input type="checkbox" <%= vl.enabled ? "checked" : ""%> >
            </td>
            <td>
              <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_admin_video_lecture_path(vl), 'data-toggle': 'tooltip', title: 'Edit' %>&nbsp;
              <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, admin_video_lecture_path(vl), 'data-toggle': 'tooltip', title: 'Delete', method: :delete, data: {confirm: 'Are you sure?'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
