<style>
  td {
    word-break: break-all;
  }
</style>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="col-md-6">
          <h5>Video Lectures</h5>
        </div>
        <div class="col-md-6 text-right">
          <%= link_to '<i class="glyphicon glyphicon-plus"> </i> Add New Video Lecture'.html_safe, new_admin_video_lecture_path %>
        </div>
      </div>
      <% if @video_lectures.present? %>
        <div class="table table-responsive">
          <table class="table card-table table-vcenter text-nowrap">
            <thead>
              <tr class="d-flex">
                <th class="col-md-1">Id.</th>
                <th class="col-md-1">Subject</th>
                <th class="col-md-5">Title</th>
                <th class="col-md-1">Teacher</th>
                <th class="col-md-1">Folder</th>
                <th class="col-md-2">Show video</th>
                <th class="col-md-1">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @video_lectures.each do |vl| %>
                <tr class="<%= get_vl_row_class(vl.subject) %> d-flex" </tr>
                  <td class="col-md-1">
                    <span class="text-muted"><%= vl.id %></span>
                  </td>
                  <td class="col-md-1">
                    <%= vl.subject&.name&.humanize %>
                  </td>
                  <td class="col-md-4">
                    <%= link_to "#{vl.title.first(40)} ...", edit_admin_video_lecture_path(vl) %>
                  </td>
                  <td class="col-md-2">
                    <%= vl.by %>
                  </td>
                  <td class="col-md-1">
                    <%= vl.genre&.name %>
                  </td>
                  <td class="col-md-2">
                    <%= time_ago_in_words(vl.created_at) %> | 
                    <input type="checkbox" <%= vl.enabled ? "checked" : ""%> >
                  </td>
                  <td class="col-md-1">
                    <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_admin_video_lecture_path(vl), 'data-toggle': 'tooltip', title: 'Edit' %>&nbsp;
                    <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, admin_video_lecture_path(vl), 'data-toggle': 'tooltip', title: 'Delete', method: :delete, data: {confirm: 'Are you sure?'} %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="alert alert-info">No Videos were found.</div>
      <% end %>
    </div>
  </div>
</div>
