<div class="row card">
  <div class="col-lg-8">
    <%= form_tag admin_video_lectures_path,  multipart: true, html: {class: 'form-horizontal card'} do  |form| %>
      <div class="card-body">
        <h3 class="card-title">Add Video Lecture</h3>

        <div class="form-group" style="padding: 15px;">
          <label class="control-label col-sm-4" for="email">Banner_Image</label>
          <div class="col-sm-8">
            <input type="file" class="form-control" id="banner_url" placeholder="Enter Banner Image URL" name="thumbnail" required>
          </div>
        </div>

        <div class="form-group" style="padding: 15px; margin-bottom: 25px;">
          <label class="control-label col-sm-4" for="email">Video Title</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Enter Video Title" name="title" required>
          </div>
        </div>
        <div style="border-color: coral; border-style: solid; margin-top: 10px;">
          <div class="form-group" style="margin-top: 10px;padding: 5px;">
            <label class="control-label col-sm-4" for="email">YouTube Url</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Enter youtube video url" name="url">
            </div>
          </div>
          &nbsp; &nbsp; &nbsp; OR
          <div class="form-group" style="padding: 20px;">
            <label class="control-label col-sm-4">Vimeo Video ID</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" placeholder="Enter Video ID" name="video_id">
            </div>
          </div>
        </div>

        <div class="form-group" style="padding: 25px;">
          <label class="control-label col-sm-4" for="email">Teacher</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Enter Teacher Name" name="by" required>
          </div>
        </div>

        <div class="form-group" style="padding: 15px;">
          <label class="control-label col-sm-4" for="email">Subject</label>
          <div class="col-sm-8">
            <label class="radio-inline"><input type="radio" value="chem" name="subject">Chem</label>
            <label class="radio-inline"><input type="radio" value="phy" name="subject">Phy</label>
            <label class="radio-inline"><input type="radio" value="bio" name="subject">Bio</label>
            <label class="radio-inline"><input type="radio" value="maths" name="subject">Maths</label>
            <label class="radio-inline"><input type="radio" value="other" name="subject">Other</label>
          </div>
        </div>

        <div class="form-group" style="padding: 15px;">
          <label class="control-label col-sm-4" for="email">TAG</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Enter Video TAG" name="tag">
          </div>
        </div>

        <%
          batches_11_ids = [2, 3,11, 7, 8]
          batches_12_ids = Batch.all.ids - batches_11_ids

          batches_11 = Batch.where(id: batches_11_ids)
          batches_12 = Batch.where(id: batches_12_ids)
        %>

        <div class="form-group" style="padding: 15px;">
          <div class="col-sm-12" style="background-color: antiquewhite;">
            <% batches_11.each do |batch| %>
              <label class="checkbox-inline"><input type="checkbox" name="batch_ids[]" value=<%= batch.id %>><%= batch.name %></label>
            <% end %>
          </div>

          <div class="col-sm-12" style="background-color: cornflowerblue;">
            <% batches_12.each do |batch| %>
              <label class="checkbox-inline"><input type="checkbox" name="batch_ids[]" value=<%= batch.id %>><%= batch.name %></label>
            <% end %>
          </div>

        </div>
      </div>
      <div class="card-footer text-right" style="padding: 25px;">
        <%= link_to "Cancel", admin_video_lectures_path, class: 'btn btn-primary' %> &nbsp;&nbsp;
        <button type="submit" class="btn btn-success">Add New Video Lecture</button>
      </div>
    <% end %>
  </div>
</div>
