<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <a class="header-brand" href="/">
        Smart Exams
      </a>
      <div class="d-flex order-lg-2 ml-auto">
        <% if student_signed_in? %>
          <div class="dropdown">
            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
              <img class="avatar" src="<%=if current_student.photo? then current_student.photo.url(:thumb) else asset_path('img_avatar.png') end %>">
              <span class="ml-2 d-none d-lg-block">
                <span class="text-default"><%= current_student.name%></span>
                <small class="text-muted d-block mt-1">Student</small>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <%= link_to '<i class="dropdown-icon fa fa-users"></i> Profile'.html_safe, students_home_profile_path, class: 'dropdown-item' %>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fa fa-settings"></i> Settings
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fa fa-info-circle"></i> Need help?
              </a>
              <%= link_to '<i class="dropdown-icon fa sign-out-alt"></i> Sign Out'.html_safe, destroy_student_session_path, method: :delete, class:"dropdown-item"%>
            </div>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In &nbsp; <i class="fa fa-users"></i>'.html_safe, new_student_session_path, method: :get, class: 'nav-link' %>
          </li>
        <% end %>
      </div>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>
