
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Smart Exam</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
          <li class="nav-item active">
            <a class="nav-link" href="<%= students_tests_path %>">My Exams <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/students/mock_tests">Mock Tests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Question Bank</a>
          </li>
          <li  >
            <a class="nav-link" href="<%= students_exam_subscription_path %>">External Students</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <% if student_signed_in? %>
          <li class="nav-item">
            <a href="#" class="nav-link" ><%= current_student&.name%></a>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_student_session_path, method: :delete, class:"nav-link"%>
          </li>
          <li class="nav-item">
            <%= image_tag 'img_avatar', alt: 'Avatar', style: "width:50px; border-radius: 50%" %>
          </li>
        <% else %>
          <li class="nav-item text-right">
            <%= link_to 'Sign In', new_student_session_path, method: :get, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
