<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <a class="header-brand" href="/">
        <div>
          <span style="margin-top: -13px;">
            <% logo_props = get_logo(request.subdomain) %>
            <%= image_tag logo_props[:logo], width: logo_props[:width], height: logo_props[:height] %>
            <%= get_header_name(request.subdomain) %>
          </span>
        </div>
      </a>
      <div class="d-flex order-lg-2 ml-auto">
        <% if student_signed_in? %>
          <div class="dropdown">
            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
              <img class="avatar" src="<%=if current_student.photo? then current_student.photo.url(:thumb) else asset_path('img_avatar.png') end %>">
              <span class="ml-2 d-none d-lg-block">
                <span class="text-default"><%= current_student.name%></span>
                <small class="text-muted d-block mt-1">Student</small>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <%= link_to '<i class="dropdown-icon fe fe-user"></i> Profile'.html_safe, students_home_profile_path, class: 'dropdown-item' %>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-settings"></i> Settings
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-help-circle"></i> Need help?
              </a>
              <%= link_to '<i class="dropdown-icon fe fe-log-out"></i> Sign Out'.html_safe, destroy_student_session_path, method: :delete, class:"dropdown-item"%>
            </div>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In &nbsp; <i class="fa fa-user-o"></i>'.html_safe, new_student_session_path, method: :get, class: 'nav-link' %>
          </li>
        <% end %>
      </div>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>
  <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg order-lg-first">
          <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
            <li class="nav-item">
              <%= link_to "<i class='fe fe-monitor'></i>Online Exams".html_safe, students_tests_path, class: current_page?(students_tests_path) ? "nav-link active" : "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "<i class='fe fe-airplay'></i> Video Lectures".html_safe, students_videos_path, class: current_page?(students_mock_tests_path) ? "nav-link active" : "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "<i class='fe fe-airplay'></i> Live Classes".html_safe, students_live_classes_path, class: current_page?(students_live_classes_path) ? "nav-link active" : "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "<i class='fe fe-book'></i> Study Pdfs".html_safe, students_study_pdfs_path, class: current_page?(students_study_pdfs_path) ? "nav-link active" : "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "<i class='fe fe-users'></i> Notifications".html_safe, students_notifications_path, class: current_page?(students_notifications_path) ? "nav-link active" : "nav-link" %>
            </li>
            <% if request.subdomain == 'exams' && current_student.present? %>
            <li class="nav-item">
              <a class="" href="https://docs.google.com/forms/d/e/1FAIpQLScV2YhtsejvBk1C6nrgqQB0eezVbSK_keuy2ucHIxZI4zh4Qg/viewform" role="button" target="_blank">
                <Button class="btn btn-sm btn-danger">Study Material Dispatch Form</Button>
              </a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>