<!DOCTYPE html>
<html>
  <head>
    <title><%= get_header_name(request.subdomain) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <% if request.subdomain.include?('exams', 'rcc') %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-40JFG6QG01"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-40JFG6QG01');
      </script>
    <% end %>
  </head>
  <body>
    <div class="page">
      <div class="page-main">
        <% unless current_student&.app_login == true %>
          <%= render 'layouts/header' %>
        <% end %>
        <div class="my-3 my-md-5">
          <div class="container">
            <% flash.each do |key, value| %>
              <div id="alert" class="alert alert-<%= key == 'notice' ? 'success' : 'warning' %>">
                <%= value %>
              </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(function(){
        $('#alert').fadeIn(1000).delay(2500).fadeOut(2000);
      });
    </script>
  </body>
</html>
