<!DOCTYPE html>
<html>
<head>
  <title>SmartExamsRails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style type="text/css">
    .col-login {
      max-width: 24rem;
    }
    .mx-auto {
      margin-right: auto !important;
    }
    .p-6 {
      padding: 2rem !important;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
